.filter-word {    
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
}

.word {
    background: #24bda8;
    color: #020238;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.32);
    border: 1px solid rgba(34, 34, 34, 0.13);
    cursor: pointer;
    margin: 3px;
    font-weight: bold;
    display: inline-block;
}

.word:hover{
    background: #020238;
    color: #24bda8;
}

.word.active {
    background: #020238;
    color: #24bda8;
}

.clear {
    background: #020238;
    color: #2fbda8;
}

.clear-div{
    overflow: hidden;
    padding-bottom: 20px;
    float: right;
}

.form-row.search-field .formcontrol {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    padding-left: 30px;
}

.form-row.search-field {
    position: relative;
}

i.fa.fa-search {
    position: absolute;
    top: 12px;
    left: 19px;
    font-size: 17px;
}

.dropdown-auto {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    height: 200px;
    overflow: scroll;
    background: white;
    display: block;
    text-align: left;    
}

.dropdown-auto li {
    cursor: pointer;
    padding:5px 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-auto li:hover { 
    background: #020238;
    color: #24bda8;
}

.form-row.search-field:last-child {
    width: 65%;
}

@media screen and (max-width:640px){
    .form-row.search-field:last-child {
        width: 100%;
        margin-top: 10px;
    }
    
}

.select-city{
    width: 100%;
    padding: 20px 37px;
}
.select-city-div{
    background: white;
    width: 30%;
    float: left;
}

.select-auto{
    width: 100%;
    padding: 20px 37px;
}
.select-auto-div{
    background: white;
    width: 70%;
    float: left;
}
.heading h1{
    padding: 20px;
}

@media screen and (max-width:320px){
    .select-auto-div{
        width: 100%;
    }
    .select-city-div{
        width: 100%;
    }
    
}


.lf-background {
    background-position: 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}
.lf-type-2 .lf-item-info-2 {
    color: #242429;
    background: #fff;
    left: 0;
    width: 100%;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;
    height: auto;
    text-align: center;
    padding: 45px 20px 1px;
    position: absolute;
    z-index: 9;
    -webkit-transition: top .2s;
    transition: top .2s;
    -webkit-transform: translateZ(0);
}
.lf-avatar {
    width: 82px;
    height: 82px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    top: -40px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 3px solid #fff;
    background-size: cover;
    background-position: 50%;
}
.letter{
    font-weight:bold;
}
.inner i{
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    margin: 10px;
}
.inner h3{
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 21px;
}

.filter-btn{
    background: #020238;
    color: #24bda8;
}

app-header {
    position: relative;
    width: 100%;
    height: 70px;
    background: #020238;
    top: 0;
    left: 0; 
    z-index: 9;
}