<app-header [login]="userid"></app-header>
<div class="loader">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="sub-header">
    <div class="container">
        <div class="bredcrum">
            <ul>
                <li><a [routerLink]="['/']">Home</a>/</li>
                <li><a>Categories</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="category">
    <div class="container">
        <div class="filter-word">
            <div *ngFor="let lett of letter; let i=index" class="activeword-{{i}} word letter" (click)="findWord(i)" >{{lett}}</div>
            <div class="activeword-25 word letter clear" (click)="clearFilter()">Clear Filter</div>
        </div>
        <div class="cat">
            <div class="cat-div" *ngFor="let category of categories | subcategory:filter">
                
                <a [routerLink]="['/profiles',category.title,category.subcategoryid,0]">
                    
                    <div class="cat-sec">
                        <div class="inner" style="position: relative;">
                            <i class="{{category.icon}}"></i>
                            <h3>{{category.subcategory | ampand}}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
<!-- <app-resmenu></app-resmenu> -->
