<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">
    <div class="container">
        <section id="content" class="login">
            <!-- {{loginform.value | json}} -->
            <form novalidate style="padding:0px 20px" #loginform="ngForm">
                <h1>Change Password</h1>
                <mat-form-field class="form-field">
                    <input matInput type="text" placeholder="Enter OTP" [(ngModel)]="cpassword.otp_code" name="otp" required="" id="otp" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="cpassword.password" name="password" required="" id="password" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="cpassword.confirmpassword" name="confirmpassword" required="" id="confirmpassword" />
                </mat-form-field>
                <div>
                    <button mat-raised-button class="submit-btn" (click)="change()" type="submit">Submit</button>
                    <!-- <input (click)="change()" type="submit" value="submit" /> -->
                </div>

            </form>
        </section>
    </div>
</div>
  <!-- intialize footer -->
  <!-- <app-footer></app-footer> -->
  <!-- <app-resmenu></app-resmenu> -->