.logout{ display: none; }

.menu-item a:hover {
    border-bottom: none;
    color: #24bda8;
    cursor: pointer;
}



.header-container {
    margin: 0;
}

.top-bar {
    height: 56px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}
.top-bar nav {
    font-size: .875rem;
    line-height: 16px;
    line-height: 1rem;
    margin: 0 auto;
    width: 1000px;
    z-index: 9999;
}
.header-menu ul li{
    font-size: 14px;
    position: relative;
    height: 56px;
}
.top-bar nav .advertise-cta svg {
    position: absolute;
}
.top-bar nav .advertise-cta svg{
    width: 24px;
    left: 0;
}
.advertise-cta{
    padding-left: 12px;
}
.top-bar nav .advertise-cta svg {
    top: 14px;
}
.header-menu ul li{
    font-size: .875rem;
    line-height: 40px;
    line-height: -1.5rem;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    display: inline-block;
    text-transform: uppercase;
    top: 0;
    padding: 6px 20px 0;
    cursor: pointer;
}
.fl-right{
    float: right;
}
.header-menu .logo img{
    max-width: 130px;
}
.logo {
    width: 200px;
    padding: 16px;
    float: left;
}
.user-dashboard-menu{
    padding: 12px 0px!important;
}
.user-dashboard-menu .img-holder figure {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
}
.user-dashboard-menu .img-holder figure img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #dbdbdb;
}
.user-dashboard-menu .img-holder {
    line-height: 9px;
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 4px 0 0;
}
.user-dashboard-menu figure{
    margin: 0;
}
.user-dashboard-menu i{
        font-size: 14px;
        line-height: 25px;
        float: left;
        margin: 0;
}
.user-dashboard-menu a::after{
    clear: both;
    display: block;
    content: "";
    line-height: 0;
}
li.user-dashboard-menu ul {
    z-index: 1002;
    top: 100%;
    text-align: left;
    margin-top: 0px;
    right: -20px;
    width: 210px!important;
    padding: 10px 0;
    position: absolute;
    min-width: 200px;
    display: block;
    opacity: 1;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% top 0;
    -moz-transform-origin: 100% top 0;
    -ms-transform-origin: 100% top 0;
    transform-origin: 100% top 0;
    -webkit-transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    -moz-transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    -webkit-transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, -webkit-transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, -webkit-transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    -moz-transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s, -moz-transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
    transition: max-height 0s linear 0.15s, opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s, -webkit-transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s, -moz-transform 0.15s cubic-bezier(0.1, 1.26, 0.83, 1) 0s;
}
li.menu-open.user-dashboard-menu ul {
    visibility: visible;
    opacity: 1;
    display: block;
    height: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s, 0.2s, 0.2s;
    -moz-transition-duration: 0s, 0.2s, 0.2s;
    transition-duration: 0s, 0.2s, 0.2s;
}
li.user-dashboard-menu ul:before {
    position: absolute;
    content: "";
    top: -10px;
    text-shadow: 0 -1px 1px rgba(56, 55, 55, 0.2), 0px -1px 1px rgba(56, 55, 55, 0.02);
    z-index: 99999;
    right: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.user-dashboard-menu ul li a {
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding: 10px 12px;
    text-transform: capitalize;
    color: #555;
    width: 100%;
}
.user-dashboard-menu ul li {
    line-height: normal;
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;
}
.user-dashboard-menu ul li i{
    margin: 0 0px 0 0;
    vertical-align: middle;
    color: #44c8b8;
}
.user-dashboard-menu ul li i .mat-icon{
    font-size: 16px;
}
@media screen and (max-width: 560px)
{
 
    .header-menu ul li{
        padding: 6px 10px 0;
    }
}

@media screen and  (max-width: 420px){
    .header-menu .logo img {
        max-width: 100px;
    }
}