<!-- <header class="header">
  <div class="container">
      <div class="main">
          <div class="logo">
              <a [routerLink]="['/']" ><img src="assets/images/logo.png" alt="Logo"></a>
          </div>
          <div class="menu">
              <ul class="menu-item">
                  <li><a (click)="OpenRouter('')">Home</a></li>
                  <li><a (click)="OpenRouter('maincategory')">Categories</a></li>
                  <li><a (click)="OpenRouter('edition')">Edition</a></li> 
                  <li *ngIf="login"><a (click)="OpenRouter('businesslist')" >Add business</a></li>
                  <li *ngIf="!login"><a (click)="OpenRouter('businesslogin')" >Business Login</a></li>
                  <li *ngIf="login" (click)="Logout()"><a  href="#">Logout</a></li>
              </ul>
              <div class="res-menu">
                  <ul class="menu-item-res">
                    <li *ngIf="!login"><a mat-raised-button [routerLink]="['/businesslogin']">Login</a></li>
                    <li *ngIf="login" (click)="Logout()"><a mat-raised-button  href="#">Logout</a></li>
                  </ul>
              </div>
          </div> 
      </div>  
  </div> 
</header> -->
<div class="header-container">
    <div class="top-bar">
        <nav class="header-menu">
            <a class="logo" href=""><img src="assets/images/logo.png" alt="Logo"></a>
            <ul class="fl-right desktop-menu" *ngIf="!login">
                  <li><a (click)="OpenRouter('')">Home</a></li>
                  <li><a (click)="OpenRouter('maincategory')">Categories</a></li>
                  <li><a (click)="OpenRouter('edition')">Edition</a></li> 
                  <li *ngIf="!login"><a (click)="OpenRouter('login')" >Login</a></li>
                  <li *ngIf="!login"><a (click)="OpenRouter('register')" >Register</a></li>
            </ul>
            <ul class="fl-right" *ngIf="role == 2">
                <li *ngIf="login"><a class="advertise-cta" (click)="OpenRouter('createposting')" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"><path id="chart-arrow" d="M22,19h2v1H0V19H2V13H8v6H9V8h6V19h1V3h6V19Zm-5,0h4V4H17V19Zm-7,0h4V9H10V19ZM3,19H7V14H3v5ZM13.9,0L8.419,1.1l1.8,1.8L2,11.122,2.774,11.9,11,3.673l1.8,1.8Z"></path></svg>Add Business</a></li>
                <li class="user-dashboard-menu" *ngIf="login" (click)="openMenu()" [ngClass]="menu ? 'menu-open' : ''">
                  <a>
                      <div class="img-holder">
                          <figure class="profile-image">
                              <img src="assets/images/image.png">
                          </figure>
                      </div>
                      <i><mat-icon>keyboard_arrow_down</mat-icon></i>
                  </a>
                  <ul>
                      <li><a (click)="OpenRouter('dashboard')"><i><mat-icon>dashboard</mat-icon></i> Dashboard</a></li>
                      <li><a (click)="OpenRouter('mylisting')"><i><mat-icon>list</mat-icon></i> My Listings</a></li>
                      <li><a (click)="OpenRouter('editprofile')"><i><mat-icon>settings</mat-icon></i> Profile Settings</a></li>
                      <li (click)="Logout()"><a href="#"><i><mat-icon>power_settings_new</mat-icon></i> Sign out</a></li>
                  </ul>
                </li>
          </ul>
          <ul class="fl-right" *ngIf="role == 1">
            <li class="user-dashboard-menu" *ngIf="login" (click)="openMenu()" [ngClass]="menu ? 'menu-open' : ''">
                <a>
                    <div class="img-holder">
                        <figure class="profile-image">
                            <img src="assets/images/image.png">
                        </figure>
                    </div>
                    <i><mat-icon>keyboard_arrow_down</mat-icon></i>
                </a>
                <ul>
                    <li><a (click)="OpenRouter('reviewlisting')"><i><mat-icon>list</mat-icon></i> Review Listings</a></li>
                    <li><a (click)="OpenRouter('editprofile')"><i><mat-icon>settings</mat-icon></i> Profile Settings</a></li>
                    <li (click)="Logout()"><a href="#"><i><mat-icon>power_settings_new</mat-icon></i> Sign out</a></li>
                </ul>
              </li>
          </ul>
          <div class="menu-blk" (click)="openmenu()"><img alt="" src="assets/images/menu.png"></div>
        </nav>
    </div>
</div>
<div class="search-blk">
    <div class="close-blk" (click)='openmenu()'>
        <img src="./assets/images/cancel.png" alt="">
    </div>
    <ul>
        <li><a (click)="OpenRouter('')">Home</a></li>
        <li><a (click)="OpenRouter('maincategory')">Categories</a></li>
        <li><a (click)="OpenRouter('edition')">Edition</a></li> 
        <li *ngIf="!login"><a (click)="OpenRouter('login')" >Login</a></li>
        <li *ngIf="!login"><a (click)="OpenRouter('register')" >Register</a></li>
    </ul>
</div>