footer li {
    display: inline-block;
    margin: 0 -1px;
    padding: 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.follow-us-on{
    text-transform: uppercase;
}
@media screen and (max-width:375px){
    footer {
        background-color: #222;
        display:block;
        padding: 20px 0;
        color: #fff;
        text-align: none;
        font-size: 12px;
    }
    .fL {
        float: none;
    }
    .fR, .footer-link {
        // float: none;
        margin: 0px 37px 0px 0px;
    }
    ul{
        display:inline;
    }

}
@media screen and (max-width:425px){
    footer {
        background-color: #222;
        display:block;
        padding: 10px 0px;
        color: #fff;
        text-align: none;
        font-size: 12px;
    }
    .fL {
        float: none;
    }
    .fR, .footer-link {
        // float: none;
        margin: 0px 50px 0px 0px;
    }
    ul{
        display:inline;
    }

}

