<footer>
    <div class="container clearfix">
        <ul class="footer-link fR">
            <li><a [routerLink]="['/privacypolicy']" >Privacy Policy</a></li>
            <li><a [routerLink]="['/terms']" >Terms & Condition</a></li>           
        </ul>
        <div class="follow-us-on fL">
            <p>@2018 onemapweb.com , All rights reserved.</p>
        </div>
    </div>
</footer>
<div id="toast">

</div>