<div class="enquiryform">    
                  
    <form >
        <h1>Enquiry Form</h1>
        <mat-form-field class="form-field">
            <input matInput type="text" id="name" name="firstname" placeholder="Your name.." [(ngModel)]="enquiry.name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput type="email" id="email" name="email" placeholder="Your Email.." [(ngModel)]="enquiry.email" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput type="text"  maxlength="10" minlength="10" id="phone" name="subject" placeholder="Your number.."  [(ngModel)]="enquiry.phone" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <textarea matInput id="message" name="message" placeholder="Write something.."  [(ngModel)]="enquiry.message"></textarea>
        </mat-form-field>

        <button mat-raised-button  class="submit-btn" (click)="sendenquiry()">Submit</button>

        <!-- <label for="fname">Name*</label>
        <input type="text" id="name" name="firstname" placeholder="Your name.." [(ngModel)]="enquiry.name" required>

        <label for="email">Email*</label>
        <input type="email" id="email" name="email" placeholder="Your Email.." [(ngModel)]="enquiry.email" required>
        
        <label for="subject">Phone*</label>
        <input type="text"  maxlength="10" minlength="10" id="phone" name="subject" placeholder="Your number.."  [(ngModel)]="enquiry.phone" required> -->
        <!-- <input type="text" maxlength="10" minlength="10" placeholder="Phone" id="phone" name="phone" (input)="Phonenumbervalid($event.target.value)"
        ngModel/> -->
        
        <!-- <label for="subject">Message</label>
        <textarea id="message" name="message" placeholder="Write something.."  [(ngModel)]="enquiry.message"></textarea>

        <input  (click)="sendenquiry()" type="submit" value="Submit"> -->
      </form>
</div>
<div id="toast">

</div>
