.form-field{
    width:100%;
}

form{
    padding: 10px;
}
.submit-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
      }
}

.enquiryform {
    float: right;
    width:35%;
    max-width: 100%;
    background: transparent;
  }
  
  .enquiryform form{
    background: #fff;
    overflow: hidden;
    padding: 30px 30px;
  }
  @media screen and (max-width:768px){ 
    .enquiryform{
        width:100%;
        padding:0px 0px;
    }
    .enquiryform form{
        width:100%;
        padding:30px 25px;
    }
    h1 {
        padding-bottom: 40px;
    }
    
}