.mat-dialog-title {
  padding-bottom: 20px;
  margin: 0;
}
.social-profiles{
    padding: 0;
    margin: 0;
}
.social-profiles li{
    display: inline-block;
    margin: 0 10px 10px 0;
}
.social-profiles a {
    font-size: 0;
    background: #b4bcc7;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}