section#content {
    width: 340px;
    max-width: 100%;
    margin: 50px auto;
    vertical-align: middle;
    padding: 5px;
    background: rgb(249, 246, 246);
    box-shadow: 8px 8px 10px grey;
}

h1 {
    padding-bottom: 0;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #2aa997;
    letter-spacing: 2px;
}

.form-field{
    width:100%;
    margin-top: 5px;
}

form{
    padding: 10px;
}
.login-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    // .mat-form-field-appearance-legacy .mat-form-field-label {
    //     color: #cac9c5;
    // }
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //     background-color: rgb(196, 195, 190);
    // }
}

.new-user-link{
    float: right; 
}
.new-user-link-div{
    float:right;
}

.forgot-link {
    float: left;
}

.new-link {
    float: right;
}

div.btn-div {
    overflow: hidden;
}

div.btn-div a {
    padding: 10px 0;
    color: #2fbda8;
}

@media screen and (max-width:320px){
    .btn-div{
        text-align:center;
    }
    .new-user-link{
        float: none; 
    }
    .new-user-link-div{
        float:none;
    }
    
}
@media screen and (max-width:375px){
    .new-user-link-div{
        float:right;
    }
    
}
@media screen and (max-width:425px){ 
    .new-user-link-div{
        float:right;
    }
    
}