<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">              
  <div class="container">
      <section id="content" class="login">
            <!-- {{busloginform.value | json}} -->
          <form>
              <h1 style="text-transform:capitalize; text-align: center;">Business Login</h1>
              <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Email" [(ngModel)]="login.email" name="email" required="" id="username"/>
              </mat-form-field>
              <mat-form-field class="form-field">
                <input matInput type="password" placeholder="Password" [(ngModel)]="login.password" name="password" required="" id="password" />
              </mat-form-field>
              <div class="btn-div">
                  <button mat-raised-button class="login-btn" (click)="MIDlogin()" color="primary" type="button">Login</button>
                  <a class="forgot-link" [routerLink]="['/forgotpassword']">Forgot password?</a>
                  <a class="new-link" [routerLink]="['/businessregister']">New User?</a>
              </div>
          </form>
          </section>
        </div>
      </div>
        <!-- intialize footer -->
<div id="toast">

</div>
