.cat-sec i{
    font-size: 30px;
    margin-bottom: 10px;
}
.word{
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(136,136,136,.32);
    border: 1px solid #24bda8;
    cursor: pointer;
    margin: 3px;
    font-weight: 700;
    display: inline-block;
}
.filter-word{
    margin: auto;
    width: 90%;
}
.word.active, .word:hover {
    background: #24bda8;
    color: #fff;
    border: 1px solid #efefef;
}