<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="dashboard-section">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
      <div class="wrapper-bread">
        <div class="container">
          <div class="breadscrumb-inner text-center">
            <ol class="breadcrumb">
              <li><a href="#">Home</a> </li>
              <li><span class="active">Category List</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="category-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filter-word">
            <div *ngFor="let lett of letter; let i=index" class="activeword-{{i}} word letter" (click)="findWord(i)">
              {{lett}}</div>
            <div class="activeword-25 word letter clear" (click)="clearFilter()">Clear Filter</div>
          </div>
          <div class="cat">
            <div class="cat-div" *ngFor="let category of categories | subcategory:filter">
              <a [routerLink]="['/search-lists',getName(category.subcategory),category.categoryid,category.subcategoryid,'all',0,0]">
                <div class="cat-sec">
                  <div class="inner" style="position: relative;">
                    <i class="{{category.icon}}"></i>
                    <h3 style="font-size: 14px;">{{category.subcategory}}</h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
<div id="toast">

</div>