.directory-preview {
  height: 100%;
  background: #d3d3d345;
}
.tab-wrapper {
  margin-bottom: 40px;
  padding: 40px;
  border: 1px solid #efefef;
  background: white;
}
.head-title {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 40px;
}
.head-title {
  margin-bottom: 20px !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}
.my-listing-item-wrapper {
  position: relative;
  margin: 0 0 20px;
}
.job-list-style {
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.media:first-child {
  margin-top: 0;
}
.job-list-style .listing-title-wrapper {
  padding: 10px 0 0;
}
.job-list-style .listing-title {
  font-size: 18px;
  line-height: 1.1;
  margin: 0;
}
.job-list-style .listing-address {
  font-size: 12px;
}
.job-list-style .listing-content-top {
  padding: 9px;
}
.job-list-style .listing-metas {
  margin: 3px 0 0;
}
.listing-metas .listing-meta {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #eeeeee;
}
.listing-metas .listing-meta:first-child {
  padding: 0 10px 0 0;
}
.listing-metas i {
  font-size: 18px;
  color: #c0c0c0;
  margin-right: 3px;
  vertical-align: middle;
}
.favorite-counter {
  color: #565656;
}
.my-listing-item-wrapper .job-dashboard-actions {
    position: absolute;
    top: 15px;
    right: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #565656;
    font-size: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.my-listing-item-wrapper:hover .job-dashboard-actions {
    opacity: 1;
    filter: alpha(opacity=100);
}
.my-listing-item-wrapper .job-dashboard-actions a {
    color: #fff !important;
}
.my-listing-item-wrapper .job-dashboard-actions li {
    display: inline-block;
    padding: 5px 10px;
}
.my-listing-item-wrapper .job-dashboard-actions a i {
    margin-right: 3px;
}
.my-listing-item-wrapper .job-dashboard-actions a i .mat-icon{
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    height: auto;
    width: auto;
}
.job-list-style:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}
.job-dashboard-action-delete{
  cursor: pointer;
}
.no-record{
  
}