.filter-word {    
    overflow: hidden;
    margin: 20px 0;
}

.word {
    background:#24bda8;
    color:  #020238;
    border-radius: 3px;
    text-align: center;
    padding: 5px 10px;
    /*background: #fff;
    color: #9591a0;*/
    box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.32);
    border: 1px solid rgba(34, 34, 34, 0.13);
    cursor: pointer;
    display: inline-flex;
    margin: 3px;
    font-weight: bold;
}

.word:hover{
   /* background: #ea565a;
    color: white;*/
    background: #020238;
    color: #24bda8;
}

.word.active {
    background:#24bda8;
    color:  #020238;
}

.clear {
    cursor: pointer;
    padding: 5px 5px;
    padding-bottom: 15px;
}

.clear:hover {
    color: blue;
}

.clear-div{
    overflow: hidden;
    padding-bottom: 20px;
}

.form-row.search-field .formcontrol {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    padding-left: 30px;
}

.form-row.search-field {
    position: relative;
}

i.fa.fa-search {
    position: absolute;
    top: 12px;
    left: 19px;
    font-size: 17px;
}

.dropdown-auto {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    height: 200px;
    overflow: scroll;
    background: white;
    display: block;
    text-align: left;    
}

.dropdown-auto li {
    cursor: pointer;
    padding:5px 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-auto li:hover { 
    color:#fff ;
    background: #ea565a;
}

.form-row.search-field:last-child {
    width: 65%;
}

.heading h1{
    padding: 20px;
}

.lf-background {
    background-position: 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}
.lf-type-2 .lf-item-info-2 {
    color: #242429;
    background: #fff;
    left: 0;
    width: 100%;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;
    height: auto;
    text-align: center;
    padding: 45px 20px 1px;
    position: absolute;
    z-index: 9;
    -webkit-transition: top .2s;
    transition: top .2s;
    -webkit-transform: translateZ(0);
}
.lf-avatar {
    width: 82px;
    height: 82px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    top: -40px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 3px solid #fff;
    background-size: cover;
    background-position: 50%;
}
.ban-div{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    float: left;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 70px;
    position: absolute;
    bottom: 0;
}
.select-city .fa-map-marker {
    position: absolute;
}

.select-city mat-select {
    padding-left: 15px;
}

app-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.select-search-div {
    width: 5%;
    border: 1px solid;
    background: #2fbda8;
    padding: 10px;
    cursor: pointer;
}

.select-search-div img{
    width: 35px;
    padding: 0px;
}

.search-btn{
    margin-bottom: 12px;
}
.banner-search {
    background-image: url("../../assets/images/banner.png");
    position: relative;
    background-size: cover;
    min-height: 600px;
    height: 100%;
}
.search-container{
    padding: 250px 0px 100px 0px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}


.search-bar{
    height: 55px;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #999;
    background: 0 0;
    width: 100%;
}
.banner-search:before {
    content: "";
    background: #00000033;
    height: 100%;
    position: absolute;
    display: table;
    width: 100%;
}
.icon-search {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
}
.icon-search ul li a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #44c9b8;
    background: linear-gradient(to bottom,#44c9b8,#44c9b8);
    border: 1px solid #44c9b8;
}
.icon-search ul {
    margin-bottom: 0px;
    margin: 0 auto;
    display: table;
    padding: 0px;
}
.icon-search ul li {
    float: none;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 0px 5px;
}
.icon-search ul li a img {
    display: table;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    width: 36px;
}
.icon-search ul li a {
    background: #e8095a00;
    width: 90px;
    height: 90px;
    display: block;
    padding: 18px 2px 10px 2px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
    /* position: relative; */
    /* overflow: hidden; */
    line-height: 24px;
    border: 1px solid #8e8e8e;
}

.search-bar div {
    width: calc(30% - 7px);
    position: relative;
    display: inline-block;
    background-color: #fff;
}
.search-bar .query-container{
    width: 44%;
}
.search-bar .location-container{
    width: 44%;
}
.search-bar .search-button {
    height: 60px;
    border: 0;
}
.search-bar .search-button{
    font-size: 15px;
    font-size: .9375rem;
    line-height: 18px;
    line-height: 1.125rem;
    float: right;
    width: 12%;
    height: 55px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    background-color: #44c9b8;
    color: white;
}
:host ::ng-deep div.mat-form-field-wrapper{
    margin: 0!important;
    padding: 0!important;
}
.mat-form-field{
    width: 100%;
}
.home-section{
    height: 100%;
}
.column-inner::before, .column-inner::after {
    content: " ";
    display: table;
}
.widget-feature-box{
    margin-bottom: 30px;
    position: relative;
    padding: 0;
}
.widget-feature-box.default{
    text-align: center;
}
.widget-feature-box.default>.content {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0 0 10px 0 #e5e5e5;
    box-shadow: 0 0 10px 0 #e5e5e5;
}
.widget-feature-box.default .icon-box {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    line-height: 82px;
    color: #8d99ae;
    background: #f4f4f4;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .1s ease-in-out 0s;
    -o-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}
.widget-feature-box.default.border .icon-box {
    background: #44c9b8!important;
}
.widget-feature-box.default .ourservice-heading {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
}
.widget-feature-box.default .description {
    padding: 0 20px 25px;
}
.search-section{
    padding-bottom: 40px;
}
.heading-text{
    text-align: center;
}
.mar80{
    margin-top: 60px;
}
.counting-section{
    padding-top: 40px !important;
    padding-bottom: 30px !important;
    background-color: #8d99ae !important;
}
.counters.light {
    color: #fff;
}
.counters .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 0;
    line-height: 1.4;
}
.counters .counter {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    color: #8d99ae;
}
.counters.light .counter, .counters.light .title {
    color: #fff;
}
.counters.light .icon-box>* {
    color: #fff;
    fill: #fff;
}
.counters .icon-box>* {
    max-width: 40px;
}
.counters {
    text-align: center;
}
.counters.light .row>div:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    background: rgba(255,255,255,.7);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.counters.light .row>div:last-child:before{display:none}
.categories-section{
    padding-top: 0;
    padding-bottom: 45px;
}
.widget-listing-category-info {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0 0 10px 0 #e5e5e5;
    box-shadow: 0 0 10px 0 #e5e5e5;
    text-align: center;
}
.widget-listing-category-info.style1 {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    border: 1px solid #dedfdf;
    margin: 15px 0;
}

.widget-listing-category-info .content-inner {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #fff;
    padding: 0 0 15px;
}
.widget-listing-category-info.style1 .content-inner {
    padding: 30px 15px 15px;
    border: none;
}
.widget-listing-category-info .category-icon {
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: auto;
}
.widget-listing-category-info.style1 .category-icon {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.widget-listing-category-info .category-icon a {
    -webkit-transition: all .15s ease-in-out 0s;
    -o-transition: all .15s ease-in-out 0s;
    transition: all .15s ease-in-out 0s;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    background: #44c8b8;
    overflow: hidden;
    padding: 12px;
}
.widget-listing-category-info .category-info-title {
    font-size: 14px;
    font-weight: 700;
    margin: -15px 0 5px;
}
.widget-listing-category-info.style1 .category-info-title {
    margin: 10px 0 5px;
}
.widget-listing-category-info .number-items {
    font-size: 13px;
    color: #8d99ae;
}
.heading-text h2{
    padding: 60px 0;
}
[data-letters]:before {
    content: attr(data-letters);
    width: 20px;
    height: 20px;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    color: white;
}
.widget-listing-category-info.style1:hover {
    border-color: #44c8b8;
}

@media screen and (max-width: 640px)
{
    .counting-section{
        display: none;
    }
    
    .search-bar div {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 420px)
{
    .search-container{
        width: 85%;
    }
    
}

@media screen and (max-width: 524px)
{
    .widget-feature-box{
        margin-bottom: 60px;
    }
}

