<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
    <div id="preloader-status"></div>
</div>
<section class="home-section">
    <div class="banner-search">
        <div class="container">
            <div class="search-container clearfix">
                <div class="search-bar">
                    <div class="search-field-wrapper">
                        <mat-form-field appearance="outline">
                            <mat-label>what are you looking for</mat-label>
                            <input type="text" required name="profilesearch" aria-label="Number"
                                [(ngModel)]="profilesearch" placeholder="Enter business name" matInput
                                [formControl]="myControl" [matAutocomplete]="directory">
                        </mat-form-field>
                        <mat-autocomplete #directory="matAutocomplete" [displayWith]="displayDr"
                            (optionSelected)="onDirSelectionChanged($event)">
                            <mat-option *ngFor="let dir of filteredOptions | async" [value]="dir" [id]="dir.id">
                                {{dir.name}}</mat-option>
                        </mat-autocomplete>
                    </div>
                    <!-- <div class="search-category">
                        <mat-form-field appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select placeholder="Category" name="category" (selectionChange)="loadSubcategory($event.value)"
                              [(ngModel)]="filterData.categoryid">
                              <mat-option>-select-</mat-option>
                              <mat-option *ngFor="let category of categorylist" [value]="category.categoryid">{{category.category}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div> -->
                    <div class="search-subcategory">
                        <mat-form-field appearance="outline">
                            <mat-label>Sub Category</mat-label>
                            <mat-select placeholder="Sub Category" name="subcategory"
                              [(ngModel)]="filterData.subcategoryid" required>
                              <mat-option>-select-</mat-option>
                              <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryid">{{subcategory.subcategory}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="search-location">
                        <mat-form-field appearance="outline">
                            <mat-label>Location</mat-label>
                            <input matInput name="postcode" type="text" (blur)="onBlurMethod($event.target.value)"
                                matGoogleMapsAutocomplete [country]="de" [(ngModel)]="postcode"
                                (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                (onLocationSelected)="onLocationSelected($event)">
                            <mat-icon matSuffix>gps_fixed</mat-icon>
                        </mat-form-field>
                    </div>
                    <button class="search-button" (click)="search()">Search</button>
                </div>
            </div>
            <div class="icon-search clearfix">
                <ul>
                    <li>
                        <a><img src="../../assets/images/1.png" alt="">
                            Tour
                        </a>
                    </li>
                    <li>
                        <a><img src="../../assets/images/2.png" alt="">
                            Flight
                        </a>
                    </li>
                    <li>
                        <a><img src="../../assets/images/3.png" alt="">
                            Rental
                        </a>
                    </li>
                    <li>
                        <a><img src="../../assets/images/4.png" alt="">
                            Room
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="search-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h2>QuIck and Easy Search</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mar80">
        <div class="row">
            <div class="col-sm-4">
                <div class="column-inner">
                    <div class="widget-feature-box default border">
                        <div class="content">
                            <div class="style-action">
                                <div class="icon-box">

                                </div>
                                <div class="box-content">
                                    <h3 class="ourservice-heading">Choose a Category</h3>
                                    <div class="description">Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque
                                        laudantium, totam rem aperiam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="column-inner">
                    <div class="widget-feature-box default border">
                        <div class="content">
                            <div class="style-action">
                                <div class="icon-box">

                                </div>
                                <div class="box-content">
                                    <h3 class="ourservice-heading">Find Locations</h3>
                                    <div class="description">Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque
                                        laudantium, totam rem aperiam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="column-inner">
                    <div class="widget-feature-box default border">
                        <div class="content">
                            <div class="style-action">
                                <div class="icon-box">

                                </div>
                                <div class="box-content">
                                    <h3 class="ourservice-heading">Go Have Fun</h3>
                                    <div class="description">Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque
                                        laudantium, totam rem aperiam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counting-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="counters light">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="counter-wrap">
                                <div class="icon-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M447.98,103.699c-0.043-3.107-1.251-6.151-3.536-8.437l-91.7-91.7c-3.478-3.477-8.708-4.515-13.252-2.636
                                            c-4.543,1.882-7.506,6.316-7.506,11.235v78.459c0,14.006,11.394,25.401,25.4,25.401h66.3v370.642c0,0.561-0.456,1.017-1.018,1.017
                                            H89.333c-0.562,0-1.018-0.456-1.018-1.017V25.337c0-0.561,0.456-1.017,1.018-1.017h201.933c6.715,0,12.16-5.445,12.16-12.16
                                            c0-6.715-5.445-12.16-12.16-12.16H89.333C75.362,0,63.994,11.366,63.994,25.337v461.326c0,13.971,11.367,25.337,25.338,25.337
                                            h333.335c13.971,0,25.338-11.366,25.338-25.337V103.86C448.006,103.803,447.985,103.753,447.98,103.699z M357.384,91.701V91.7
                                            c-0.595,0-1.08-0.484-1.08-1.081V41.519l50.183,50.183H357.384z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M362.013,163.898H255.666c-6.715,0-12.16,5.445-12.16,12.16c0,6.715,5.445,12.16,12.16,12.16h106.347
                                            c6.715,0,12.16-5.445,12.16-12.16C374.174,169.343,368.729,163.898,362.013,163.898z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M362.013,272.329H255.666c-6.715,0-12.16,5.445-12.16,12.16c0,6.715,5.445,12.16,12.16,12.16h106.347
                                            c6.716,0,12.16-5.444,12.16-12.16C374.174,277.775,368.728,272.329,362.013,272.329z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M322.934,380.762H256.23c-6.715,0-12.16,5.445-12.16,12.16c0,6.715,5.445,12.16,12.16,12.16h66.704
                                            c6.715,0,12.16-5.445,12.16-12.16C335.094,386.207,329.649,380.762,322.934,380.762z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M204.326,137.943h-54.34c-6.045,0-10.944,4.899-10.944,10.944v54.34c0,6.045,4.899,10.944,10.944,10.944h54.34
                                            c6.045,0,10.944-4.899,10.944-10.944v-54.34C215.27,142.842,210.371,137.943,204.326,137.943z M193.382,192.284H160.93v-32.452
                                            h32.452V192.284z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M204.326,246.376h-54.34c-6.045,0-10.944,4.899-10.944,10.944v54.34c0,6.045,4.899,10.944,10.944,10.944h54.34
                                            c6.045,0,10.944-4.899,10.944-10.944v-54.34C215.27,251.275,210.371,246.376,204.326,246.376z M193.382,300.716H160.93v-32.452
                                            h32.452V300.716z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M204.326,354.807h-54.34c-6.045,0-10.944,4.899-10.944,10.944v54.34c0,6.045,4.899,10.944,10.944,10.944h54.34
                                            c6.045,0,10.944-4.899,10.944-10.944v-54.34C215.27,359.708,210.371,354.807,204.326,354.807z M193.382,409.148H160.93v-32.452
                                            h32.452V409.148z"></path>
                                            </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <h5 class="title">LISTINGS</h5>
                            <div class="counter counterUp">{{dir_count}}</div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="counter-wrap">
                                <div class="icon-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                                        style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                        <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
                                c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
                                c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
                                v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
                                c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
                                C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
                                l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
                                C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
                                C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
                                C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
                                c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
                                C49.513,45.874,51,48.28,51,50.957V54z"></path>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <h5 class="title">USERS</h5>
                            <div class="counter counterUp">{{usr_count}}</div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="counter-wrap">
                                <div class="icon-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <path
                                                d="M416,32h-80.001c-0.007,0-0.013,0.001-0.02,0.001C328.674,22.292,317.059,16,304,16h-20.39C277.966,6.242,267.481,0,256,0
                                        s-21.966,6.242-27.61,16H208c-13.059,0-24.674,6.292-31.979,16.001c-0.007,0-0.014-0.001-0.021-0.001H96c-22.056,0-40,17.944-40,40
                                        v400c0,22.056,17.944,40,40,40h320c22.056,0,40-17.944,40-40V72C456,49.944,438.056,32,416,32z M184,56c0-13.233,10.767-24,24-24
                                        h25.47c3.385,0,6.404-2.131,7.538-5.32C243.278,20.292,249.303,16,256,16s12.722,4.292,14.992,10.68
                                        c1.134,3.189,4.153,5.32,7.538,5.32H304c13.233,0,24,10.767,24,24v24H184V56z M440,472c0,13.233-10.767,24-24,24H96
                                        c-13.233,0-24-10.767-24-24V72c0-13.233,10.767-24,24-24h72.805c-0.527,2.586-0.805,5.261-0.805,8v32c0,4.418,3.582,8,8,8h160
                                        c4.418,0,8-3.582,8-8V56c0-2.739-0.278-5.414-0.805-8H416c13.233,0,24,10.767,24,24V472z">
                                            </path>
                                            <path
                                                d="M416,64h-48c-4.418,0-8,3.582-8,8s3.582,8,8,8h40v384H104V80h40c4.418,0,8-3.582,8-8s-3.582-8-8-8H96c-4.418,0-8,3.582-8,8
                                        v400c0,4.418,3.582,8,8,8h320c4.418,0,8-3.582,8-8V72C424,67.582,420.418,64,416,64z">
                                            </path>
                                            <path d="M256,32c-2.11,0-4.17,0.85-5.66,2.34c-1.49,1.49-2.34,3.55-2.34,5.66c0,2.1,0.85,4.17,2.34,5.66
                                        c1.49,1.49,3.55,2.34,5.66,2.34c2.1,0,4.17-0.85,5.66-2.34c1.49-1.49,2.34-3.55,2.34-5.66c0-2.11-0.85-4.17-2.34-5.66
                                        C260.17,32.849,258.1,32,256,32z"></path>
                                            <path d="M130.343,186.343c-3.125,3.124-3.125,8.189,0,11.313l24,24c1.562,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343
                                        l40-40c3.125-3.124,3.125-8.189,0-11.313c-3.124-3.124-8.189-3.124-11.313,0L160,204.686l-18.343-18.343
                                        C138.533,183.219,133.467,183.219,130.343,186.343z"></path>
                                            <path d="M205.657,258.343c-3.124-3.124-8.189-3.124-11.313,0L160,292.686l-18.343-18.343c-3.124-3.124-8.189-3.124-11.313,0
                                        c-3.125,3.124-3.125,8.189,0,11.313l24,24c1.562,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343l40-40
                                        C208.781,266.533,208.781,261.467,205.657,258.343z"></path>
                                            <path d="M194.343,346.343L160,380.686l-18.343-18.343c-3.124-3.124-8.189-3.124-11.313,0c-3.125,3.124-3.125,8.189,0,11.313l24,24
                                        c1.562,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343l40-40c3.125-3.124,3.125-8.189,0-11.313
                                        C202.533,343.219,197.467,343.219,194.343,346.343z"></path>
                                            <path
                                                d="M240,200h136c4.418,0,8-3.582,8-8s-3.582-8-8-8H240c-4.418,0-8,3.582-8,8S235.582,200,240,200z">
                                            </path>
                                            <path
                                                d="M240,288h136c4.418,0,8-3.582,8-8s-3.582-8-8-8H240c-4.418,0-8,3.582-8,8S235.582,288,240,288z">
                                            </path>
                                            <path
                                                d="M240,376h136c4.418,0,8-3.582,8-8s-3.582-8-8-8H240c-4.418,0-8,3.582-8,8S235.582,376,240,376z">
                                            </path>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <h5 class="title">CATEGORIES</h5>
                            <div class="counter counterUp">{{cat_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="categories-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" *ngFor="let category of categories">
                <div class="widget-listing-category-info  style1">
                    <div class="content">
                        <div class="content-inner">
                            <div class="category-icon">
                                <a [routerLink]="['/search-lists',getName(category.name),category.categoryid,category.subcategoryid,'all',0,0]" [attr.data-letters]="category.name.substring(0, 1)" target="_blank">

                                </a>
                            </div>
                            <h4 class="category-info-title">
                                <a href="#">{{category.name}}</a>
                            </h4>
                            <span class="number-items">{{category.dirCount}} Listings</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- <app-resmenu></app-resmenu> -->