<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>


<div class="directory-preview">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
      <div class="wrapper-bread">
        <div class="container">
          <div class="breadscrumb-inner text-center">
            <h2 class="bread-title">Review Listing</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a> </li>
              <li><span class="active">Review Listing</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <table class="rwd-table">
      <tbody>
        <tr>
          <!-- <th>Directory Id</th> -->
          <th>Title</th>
          <th>Review</th>
          <th>Rating</th>
          <th>Date</th>
          <th>Delete</th>

        </tr>
        <tr *ngFor="let review of reviews">
          <!-- <td data-th="Supplier Code">
            {{review.directoryid}}
          </td> -->
          <td data-th="Supplier Name">
            {{review.title}}
          </td>
          <td data-th="Invoice Number">
            {{review.comments}}
          </td>
          <td data-th="Invoice Number">
            {{review.rating}}
          </td>
          <td data-th="Invoice Date">
            {{review.created}}
          </td>
          <td><i class="fa fa-trash" (click)="deletereview(review.id)" aria-hidden="true"></i></td>
        </tr>
        <tr *ngIf="count == 0">
          <td colspan="5" class="text-center">There are no records found...</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<app-footer></app-footer>
<div id="toast">

</div>
<!-- intialize footer -->
<!-- <app-footer></app-footer> -->
<!-- <app-resmenu></app-resmenu> -->