<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="site-content" id="content">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
      <div class="wrapper-bread">
        <div class="container">
          <div class="breadscrumb-inner text-center">
            <h2 class="bread-title">Edit Profile</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a> </li>
              <li><span class="active">Edit Profile</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="form-container">
      <div class="content-box-inner">
        <form class="job-manager-form edit-profile">
          <fieldset>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput required type="text" id="firstname" name="firstname" [(ngModel)]="profile.firstname" />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput required type="text" id="lastname" name="lastname" [(ngModel)]="profile.lastname" />
              </mat-form-field>
            </div>
            <div class="job_email">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required type="email" id="email" placeholder="Your email address" name="email" [(ngModel)]="profile.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
              </mat-form-field>
            </div>
            <div class="job_phonenumber">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput required type="tel" id="phone" placeholder="Your phone number" name="phone" [(ngModel)]="profile.telephone" minlength="10" maxlength="10" (keydown)="AcceptNumber($event)"/>
              </mat-form-field>
            </div>
            <div class="job_description">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput id="address" name="address" [(ngModel)]="profile.address" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
            </mat-form-field>
            </div>
            <div class="job_logo">
              <div class="field-head">
                <label>Avatar</label>
              </div>
              <div class="file-upload-field clearfix">
                <label class="gallery-add">
                   <i class="mi file_upload"></i>
                   <input #file type="file" accept='image/*' (change)="previewlogo($event)">
                </label>
                <span class="img-preview" *ngIf="imgURL">
                  <img [src]="imgURL">
                  <a class="review-gallery-image-remove"><i class="mi delete"></i></a>
                </span>
              </div>
              <small class="hint">Maximum file size: 1 MB.</small>
              <span class="help-error" *ngIf="logoError">Logo is a required field.</span>
            </div>
            <button mat-raised-button class="create-btn" (click)="updateprofile()" type="submit">Update Profile</button>
          </fieldset>
        </form>

      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
<div id="toast">

</div>
