<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>OTP</mat-label>
    <input matInput type="number" placeholder="Enter your otp" [(ngModel)]="reset.otp" name="otp" required="" id="otp"
      (keyup)="change($event.target.value)">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput [type]="hide ? 'text' : 'password'" placeholder="Password" name="password" required="" id="password"
      [(ngModel)]="reset.password" />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <p class="login-error">{{errorMsg}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button id="submit" disabled class="mat-raised-button mat-primary" (click)="submitClick()">Change
    Password</button>
  <button mat-raised-button class="mat-raised-button" mat-dialog-close tabindex="-1">Cancel</button>
</div>