<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="directory-preview">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
      <div class="wrapper-bread">
        <div class="container">
          <div class="breadscrumb-inner text-center">
            <h2 class="bread-title">Pending Listing</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a> </li>
              <li><span class="active">Pending Listing</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="tab-wrapper">
      <!-- <div class="head-title">
        <h4>Published Listings</h4>
      </div> -->
      <div class="my-listing-item-wrapper job-list-style" *ngFor="let result of resultData">
        <a (click)="view(result.id)">
          <div class="listing-item-wrapper">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                <div class="listing-title-wrapper">
                  <div class="media">
                    <div class="media-body media-middle">
                      <h3 class="listing-title">
                        {{result.name}} <small>(Verified)</small>
                      </h3>
                      <span class="listing-address">
                        <a class="google_map_link"
                          [href]="'https://maps.google.com/maps?q='+result.address+'&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false'"
                          target="_blank">{{result.address}}, {{result.country}}</a> </span>
                    </div>
                  </div>
                </div>
                <div class="listing-content-top">
                  <div class="listing-metas">
                    <div class="listing-meta listing-favorite">
                      <i class="icon-heart-outline right-inner">
                        <mat-icon>star_half</mat-icon>
                      </i>
                      <span class="left-inner">
                        <span class="favorite-counter">{{result.reviewCount}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="job-dashboard-actions">
            <li><a class="job-dashboard-action-delete" (click)="deleteClick(result.id)"><i class="icon-close">
                  <mat-icon>delete_outline</mat-icon>
                </i>Delete</a>
            </li>
          </ul>
        </a>
      </div>
      <div class="no-record" *ngIf="count == 0">
        You do not have any pending listings.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div id="toast">

</div>