<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="site-content" id="content">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
        <div class="wrapper-bread">
            <div class="container">
                <div class="breadscrumb-inner text-center">
                    <h2 class="bread-title">Add Your Business</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a> </li>
                        <li><span class="active">Add your Businesss</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
  <div class="container">
    <div class="form-container">
      <div class="content-box-inner">
        <form class="job-manager-form">
          <fieldset>
            <div class="job_title">
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput required type="text" id="title" name="title" [(ngModel)]="business.title" />
              </mat-form-field>
              <!-- <span class="help-block">Please enter valid email.</span> -->
            </div>
            <div class="job_tagline">
              <mat-form-field appearance="outline">
                <mat-label>Tagline</mat-label>
                <input matInput required placeholder="Enter a tagline" type="text" id="tagline" name="tagline" [(ngModel)]="business.tagline">
                <mat-hint>Say something catchy!</mat-hint>
              </mat-form-field>
            </div>
            <div class="job_description">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput required id="description" name="description" [(ngModel)]="business.description" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
            </mat-form-field>
            </div>
            <div class="job_logo">
              <div class="field-head">
                <label>Logo</label>
              </div>
              <div class="file-upload-field clearfix">
                <label class="gallery-add">
                   <i class="mi file_upload"></i>
                   <input #file type="file" accept='image/*' (change)="previewlogo($event)">
                </label>
                <span class="img-preview">
                  <img [src]="imgURL" *ngIf="imgURL">
                </span>
              </div>
              <small class="hint">Maximum file size: 1 MB.</small>
              <span class="help-error" *ngIf="logoError">Logo is a required field.</span>
            </div>
            <div class="job_cover">
              <div class="field-head">
                <label>Cover Image</label>
              </div>
              <div class="file-upload-field clearfix">
                <label class="gallery-add">
                   <i class="mi file_upload"></i>
                   <input #file type="file" accept='image/*' (change)="previewcover($event)">
                </label>
                <span class="img-preview">
                  <img [src]="imgCoverURL" *ngIf="imgCoverURL">
                </span>
              </div>
              <small class="hint">Maximum file size: 1 MB.</small>
              <span class="help-error" *ngIf="coverError">Cover Image is a required field.</span>
            </div>
            <div class="job_email">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required type="email" id="email" placeholder="Your email address" name="email" [(ngModel)]="business.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
              </mat-form-field>
            </div>
            <div class="job_phonenumber">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput required type="tel" id="phone" placeholder="Your phone number" name="phone" [(ngModel)]="business.phone" minlength="10" maxlength="10" (keydown)="AcceptNumber($event)"/>
              </mat-form-field>
            </div>
            <div class="job_website">
              <mat-form-field appearance="outline">
                <mat-label>Website</mat-label>
                <input matInput required type="text" id="website" placeholder="http://" name="website" [(ngModel)]="business.website"/>
              </mat-form-field>
            </div>
            <div class="job_postcode">
              <mat-form-field appearance="outline">
                <mat-label>Street Address</mat-label>
                <input matInput
                     required
                     name="address"
                     type="text"
                     matGoogleMapsAutocomplete
                     [country]="de"
                     [(ngModel)]="business.address"
                     (onAutocompleteSelected)="onAutocompleteSelected($event)"
                     (onLocationSelected)="onLocationSelected($event)">
                     <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="clearfix">
              <div class="job_country lf-div">
                <mat-form-field appearance="outline">
                  <mat-label>Country</mat-label>
                  <input matInput required type="text" [value]="country" id="country" placeholder="Your country" name="country" [(ngModel)]="business.country" />
                </mat-form-field>
              </div>
              <div class="job_state rf-div">
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput required type="text" [value]="state" id="state" placeholder="Your state" name="state" [(ngModel)]="business.state" />
                </mat-form-field>
              </div>
            </div>
            <div class="clearfix">
              <div class="job_city lf-div">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput required type="text" [value]="city" id="city" placeholder="Your city" name="city" [(ngModel)]="business.city" />
                </mat-form-field>
              </div>
              <div class="job_postcode rf-div">
                <mat-form-field appearance="outline">
                  <mat-label>Postcode</mat-label>
                  <input matInput required type="text" [value]="postcode" id="postcode" placeholder="Your postcode" name="postcode" [(ngModel)]="business.postcode" />
                </mat-form-field>
              </div>
            </div>
            <div class="job_category">
              <mat-form-field appearance="outline">
                <mat-label>Listing Category</mat-label>
                <mat-select required placeholder="Category" name="category" (selectionChange)="loadSubcategory($event.value)" [(ngModel)]="business.categoryid">
                    <mat-option>-select-</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.categoryid">{{category.category}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="job_subcategory">
              <mat-form-field appearance="outline">
                <mat-label>Listing Subcategory</mat-label>
                <mat-select required placeholder="Subcategory" name="subcategory" [(ngModel)]="business.subcategoryid">
                  <mat-option>-select-</mat-option>  
                  <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryid">{{subcategory.subcategory}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="job_video">
              <mat-form-field appearance="outline">
                <mat-label>Video</mat-label>
                <input matInput type="text" id="video_url" placeholder="URL to Video" name="video_url" [(ngModel)]="business.video_url" />
               <mat-hint>Display a video on your Listing</mat-hint>
              </mat-form-field>
            </div>
            <div class="job_twitter">
              <mat-form-field appearance="outline">
                <mat-label>Twitter URL</mat-label>
                <input matInput type="text" id="company_twitter" placeholder="http://" name="company_twitter" [(ngModel)]="business.company_twitter" />
              </mat-form-field>
            </div>
            <div class="job_facebook">
              <mat-form-field appearance="outline">
                <mat-label>Facebook URL</mat-label>
                <input matInput type="text" id="company_facebook" placeholder="http://" name="company_facebook" [(ngModel)]="business.company_facebook" />
              </mat-form-field>
            </div>
            <div class="job_instagram">
              <mat-form-field appearance="outline">
                <mat-label>Instagram URL</mat-label>
                <input matInput type="text" id="company_instagram" placeholder="http://" name="company_instagram" [(ngModel)]="business.company_instagram" />
              </mat-form-field>
            </div>
            <button mat-raised-button class="create-btn" (click)="createbusiness()" type="submit">Create</button>
          </fieldset>
        </form>

      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
<div id="toast">

</div>