
.page-cover {
    background-image: url(https://listify-demos.astoundify.com/classic/wp-content/uploads/sites/2/2016/05/Stocksy_txpf86f8e84xmy000_Medium_352439.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    color: #fff;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
}
.page-title{
    font-size: 32px;
    line-height: normal;
    padding: 3em 0;
    margin: 0;
    text-align: center;
}
.page-cover:after, .listify-cover.has-image:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.45);
    z-index: 5;
}
.page-title{
    float: none;
}
.form-container{
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    border: 0;
    margin: auto;
    margin-top: 0;
    margin-bottom: 4em;
    max-width: 800px;
}
.content-box-inner{
    padding: 40px;
}
.job-manager-form fieldset {
    border: 0;
    margin: 0 0 2em;
    padding: 0;
}
.job-manager-form label{
    display: block;
    margin: 0;
}
.job-manager-form .mat-form-field{
    width: 100%;
}
.job_logo .field-head label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}
.gallery-add{
    display: block;
    float: left;
    position: relative;
    font-size: 0;
    margin: 0 10px 10px 0;
    background: transparent;
    color: rgba(45,45,45,.21);
    border: 2px dashed #ddd;
    width: calc(25% - 10px);
    height: 120px;
    cursor: pointer;
}
.gallery-add i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.gallery-add input{
    display: none;
}
.mi {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-rendering: auto;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0);
    transform: translate(0);
}
small.hint{
        font-size: 13px;
        opacity: .8;
}
.mi.file_upload:before {
    content: "\e2c6";
}
:host ::ng-deep .job_description .mat-form-field-appearance-outline .mat-form-field-flex{
    height: 200px;
}
.img-preview{
    display: inline-block;
    width: calc(25% - 10px);
    height: 120px;
    padding-left: 10px;
}
.img-preview img{
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}
.img-preview img{
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 8px!important;
    box-shadow: none!important;
}
.lf-div, .rf-div{
    float: left;
    width: 49%;
}
.lf-div{
    margin-right: 5px;
}
.rf-div{
    margin-left: 5px;
}
.create-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.error-label{
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}
.help-error{
    display: block;
    color:  red;
}
::ng-deep .mat-form-field-infix textarea{
    height: 160px!important;
}

@media screen and (max-width: 620px)
{
    .lf-div, .rf-div{
        margin: 0;
        float: none;
        width: 100%;
    }
    .gallery-add, .img-preview{
        width: calc(50% - 10px);
    }
}