<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">   <div class="wrapper">   
    <div class="sub-header">
  <div class="container">
      <div class="bredcrum">
          <ul>
              <li><a [routerLink]="['/']">Home</a></li>/
              <li><a routerLink="['/subcategory',{'cid':category.categoryid}]">{{category.category  | ampand}}</a>/</li>                        
          </ul>
      </div>
  </div>
</div>

<div class="category">
  <div class="container"> 
      <div class="heading" >
          
          <h1>{{category.category  | ampand }}</h1>
      </div>

      <div class="cat">
          <div class="cat-div" *ngFor="let subcategory of subcategories">
              <a [routerLink]="['/profile',{'cid':cid,'sid':subcategory.subcategoryid}]">
                  <div class="cat-sec" >                            
                      <div class="inner">                                    
                          <p><i class="{{category.icon}}"></i></p>
                          <h2>{{subcategory.subcategory  | ampand}}</h2>
                      </div>                             
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>
        <!-- intialize footer -->
        <!-- <app-footer></app-footer> -->
        <!-- <app-resmenu></app-resmenu> -->