.container.edition {
    margin-top: 90px;
}

.contain-div {
    width: 100%;
    text-align: center;
    background: #f9f9f9;
}

.edition-legend{
    padding: 6px 5px 6px 5px;
    color: white;
    background: #24bda8;
    border-radius: 6px;
    letter-spacing: 0px;
    text-align: center;
}
.content{
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
}
.fieldset{
    width: 30%;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 14px grey;
}
.read-more{
    position: absolute;
    color: white;
    background: rgb(5, 5, 5);
    width: 100%;
    bottom: 0px;
}

.contain {
    margin-top: 90px;
}

@media screen and (max-width:768px){
    .fieldset{
        width: 100%;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 0px 14px grey;
    }  
    .edition-legend {
        padding: 25px 5px 25px 5px;
        color: white;
        background: #24bda8;
        border-radius: 6px;
        letter-spacing: 0px;
        text-align: center;
        font-size: 34px;
    }
    .read-more{
        position: absolute;
        color: white;
        background: #050505;
        width: 100%;
        bottom: 0px;
        font-size: 25px;
    }
  }
@media screen and (max-width:1024px){
    .fieldset{
        width: 45%;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 0px 14px grey;
    }  
    .edition-legend {
        padding: 15px 5px 15px 5px;
        color: white;
        background: #24bda8;
        border-radius: 6px;
        letter-spacing: 0px;
        text-align: center;
        font-size: 22px;
    }
    .read-more {
        position: absolute;
        color: white;
        background: #050505;
        width: 100%;
        bottom: 0px;
        font-size: 20px;
    }
}
@media screen and (max-width:1440px){
    .fieldset{
        width: 200px;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 0px 14px grey;
        display: inline-block;
    }  

    .edition-legend {
        color: white;
        background: #24bda8;
        border-radius: 6px;
        letter-spacing: 0px;
        text-align: center;
        font-size: 17px;
    }

    .read-more {
        position: absolute;
        color: white;
        background: #050505;
        width: 100%;
        bottom: 0px;
        font-size: 20px;
    }
}
@media screen and (max-width:425px){
    .fieldset{
        width: 100%;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 0px 14px grey;
    }  
    .edition-legend{
        background: #24bda8;
        padding: 6px 5px 6px 5px;
        font-size:inherit;
    }
    .read-more{
        font-size: inherit;
    }
  }
 
