<app-header [login]="userid"></app-header>
<div class="loader">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<section class="container edition">
  <div class="contain-div">
    <fieldset class="fieldset">
      <legend class="edition-legend">First Edition</legend>
      <div class="content" (click)="tobook()">
        <img src="../../assets/images/mail-black-envelope-symbol.png" alt="Edition page" style="width:100%">
        <div class="read-more" >Villupuram</div>
      </div>
    </fieldset>
  </div>
</section>
