<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
  </div>
  <div id="content">
    <div class="form-wrapper login">
      <section class="center">
        <form>
          <h1 style="text-transform:capitalize;">Sign In</h1>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Enter your email" [(ngModel)]="login.email" name="email" required="" id="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password" [(ngModel)]="login.password" name="password" required="" id="password">
          </mat-form-field>
          <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 text-right" style="padding-bottom: 15px;">
              <a class="forgot-links" (click)="openForgot()" title="Forgot Password">Lost Your Password?</a>
            </div>
          </div>
          <div class="btn-div">
              <button mat-raised-button class="login-btn" (click)="MIDlogin()" color="primary" type="button">Login</button>
          </div>
          <div class="bottom-login text-center">
            Don't have an account
          </div>
          <a class="register-text" [routerLink]="['/register']">Register</a>
      </form>
      </section>
    </div>
  </div>

      <app-footer></app-footer>
  <div id="toast">

  </div>