<!-- intialize header -->
<app-header [login]="userid"></app-header>
<!-- <div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div> -->
<form class="example" action="/action_page.php">
  <!-- <input type="text" placeholder="Search.." name="search"   id="list" (change)="getkeyval($event)" [ng5-auto-complete]="profiles" [word-trigger]="2" [list-length]="20" filterName="name" -->
    no-record-text="No Records Found!" placeholder="Search your category">

  <button type="submit" id="mapsearch">
    <i class="fa fa-search"></i>
  </button>
</form>
<input type="hidden" id="list_type">
<div id="map" style="width:100%; height:500px;"></div>


<!-- intialize footer -->
<!-- <app-footer></app-footer> -->
<!-- <app-resmenu></app-resmenu> -->
<div id="toast">
</div>