.mat-form-field{
    width: 100%;
}
.mat-dialog-title{
    padding-bottom: 0;
}
.mat-dialog-actions{
    padding-bottom: 25px;
}
.login-error{
    color: red;
    padding: 0;
}
.mat-dialog-actions em{
    margin: 0 20px;
}
.review-star{
    margin-bottom: 20px;
}
.review-star label{
    padding: 0;
    margin: 0;
}
:host ::ng-deep .review_comments .mat-form-field-appearance-outline .mat-form-field-flex{
    height: 200px;
}
::ng-deep .mat-form-field-infix textarea{
    height: 160px!important;
}