<h1 mat-dialog-title>Rate Us And Write A Review</h1>
<div mat-dialog-content>
  <div class="review-star">
    <label>Rate this product</label>
    <bar-rating [(rate)]="rate" required [max]="5" [theme]="'bootstrap'" [theme]="'bootstrap'">
    </bar-rating>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Enter your title" [(ngModel)]="review.title" name="title" required="" id="title">
  </mat-form-field>
  <div class="review_comments">
  <mat-form-field appearance="outline">
    <mat-label>Comments</mat-label>
    <textarea matInput placeholder="Enter your comment" name="comments" [(ngModel)]="review.comments" required></textarea>
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="submitClick()">Submit</button>
  <button mat-raised-button class="mat-raised-button" mat-dialog-close tabindex="-1">Cancel</button>
</div>
