<!-- intialize header -->
<app-header [login]="userid"></app-header>
<!-- <div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div> -->
<div class="container">
    <div class="content">
        <h1 class="heading"><strong>Privacy Policy</strong></h1>
        <div class="sub-content">
            <p>
                <span>In the course of registering for and availing various services
                we provide from time to time through our website www.mangalaisai.com/directory 
                (&ldquo;Website&rdquo;, telephone search, or any other medium in which may provide services 
                (collectively referred to as "Media") you may be required to give your name, shop address, 
                email address, date of birth, educational qualifications and similar Personal Information.
                </span>
            </p>
            <div class="option">
                <p class="options-heading" style="text-align:center;text-decoration: underline;text-indent: 0%">
                    <span>The Personal Information is used for three general purposes:</span></p>
                <p style="text-align:center;text-indent: 0%"><span>To customize the content you see </span></p>
                <p style="text-align:center;text-indent: 0%"><span>To fulfill your requests for certain services</span></p>
                <p style="text-align:center;text-indent: 0%"><span>And to contact you about our services</span></p>
            </div>
            <p style="margin-top:30px;">
                <span>Unless otherwise stated explicitly,
                 this Policy applies to Personal Information as disclosed on any of the Media.
                </span>
            </p>
            <p><span>We are committed to protecting the privacy and 
                confidentiality of all Personal Information that you may share as a user of Media Further; 
                we have this policy to demonstrate our good faith.</span>
            </p>
            <p><span>This policy does not apply to the practices of organizations 
                that we do not own or to people that we do not employ or manage.</span>
            </p>
            <p><span>Personal Information will be kept confidential and will be used for our research, 
                marketing, and strategic client analysis objectives and other internal business 
                purposes only. We do not share, sell or rent Personal Information except that in 
                case you are a customer of our search services through any of the Media, your Personal 
                Information shall be shared with our subscribers/advertisers and you shall be deemed to 
                haven consent to the same.</span>
            </p>
            <div class="option">
                <p class="options-heading" style="text-align:center;text-decoration: underline;text-indent: 0%"><span>We will share Personal Information only under one or more of the 
                    following circumstances</span></p>
                <p style="text-align:center;text-indent: 0%"><span>If we have you consent or deemed consent to do so.</span></p>
                <p style="text-align:center;text-indent: 0%"><span>Or</span></p>
                <p style="text-align:center;text-indent: 0%"><span>If we are compiled by law including court orders to do so.</span></p>
            </div>
            <p><span>In furtherance of the confidentiality with which we treat Personal Information 
                we have put in place appropriate physical, electronic, and managerial procedures to 
                safeguard and secure the information we collect online.</span></p>

            <p style="margin-top:30px;"><span>We give you the ability to edit your account information and preferences at any time
                , including whether you want us to contact you about new services. To protect your 
                privacy and security, we will also take reasonable steps to verify your identity before 
                granting access or making corrections.</span></p>
            <p><span>You acknowledge that you are disclosing Personal 
                Information voluntarily. Prior to the completion of any registration process 
                on our website or prior to availing of any services offered on our website if 
                you wish not to disclose any Personal Information you may refrain from doing so; 
                however if you don&rsquo;t provide information that is requested it is possible that 
                the registration process would be incomplete and/or you would not be able to avail of 
                the our services.</span></p>
            <p><span>If you are our corporate customer, it is possible that we have entered into a 
                contract with you for non-disclosure of confidential information. This Policy shall 
                not affect such a contract in any manner.</span></p>
            <p><span>If you have questions or concerns about these privacy policies; please send us an
                 email at</span></p>
            <p><span>Thanking you for your co-operation we assure to provide you with the last of our 
                service. We look for a long lasting business relation with you.</span></p>
        </div>
    </div>

        <!-- <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong>Privacy Policy</strong></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    <p><span style="font-weight: 400;">In the course of registering for and availing various services we provide from time to time through our website www.mangalaisai.com/directory (&ldquo;Website&rdquo;, telephone search, or any other medium in which may provide services (collectively referred to as "Media") you may be required to give your name, shop address, email address, date of birth, educational qualifications and similar Personal Information. The Personal Information is used for three general purposes:</span></p>
    <ol>
    <li><span style="font-weight: 400;"> To customize the content you see </span></li>
    <li><span style="font-weight: 400;"> To fulfill your requests for certain services</span></li>
    <li><span style="font-weight: 400;"> And to contact you about our services. </span></li>
    </ol>
    <p><span style="font-weight: 400;">Unless otherwise stated explicitly, this Policy applies to Personal Information as disclosed on any of the Media.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">We are committed to protecting the privacy and confidentiality of all Personal Information that you may share as a user of Media Further; we have this policy to demonstrate our good faith.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">This policy does not apply to the practices of organizations that we do not own or to people that we do not employ or manage.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Personal Information will be kept confidential and will be used for our research, marketing, and strategic client analysis objectives and other internal business purposes only. We do not share, sell or rent Personal Information except that in case you are a customer of our search services through any of the Media, your Personal Information shall be shared with our subscribers/advertisers and you shall be deemed to haven consent to the same.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">We will share Personal Information only under one or more of the following circumstances: -</span></p>
    <p><span style="font-weight: 400;">1 - If we have you consent or deemed consent to do so.</span></p>
    <p><span style="font-weight: 400;">Or</span></p>
    <p><span style="font-weight: 400;">2 - If we are compiled by law including court orders to do so.</span></p>
    <p>&nbsp;</p>

    <p><span style="font-weight: 400;">In furtherance of the confidentiality with which we treat Personal Information we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">We give you the ability to edit your account information and preferences at any time, including whether you want us to contact you about new services. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">You acknowledge that you are disclosing Personal Information voluntarily. Prior to the completion of any registration process on our website or prior to availing of any services offered on our website if you wish not to disclose any Personal Information you may refrain from doing so; however if you don&rsquo;t provide information that is requested it is possible that the registration process would be incomplete and/or you would not be able to avail of the our services.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">If you are our corporate customer, it is possible that we have entered into a contract with you for non-disclosure of confidential information. This Policy shall not affect such a contract in any manner.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">If you have questions or concerns about these privacy policies; please send us an email at</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Thanking you for your co-operation we assure to provide you with the last of our service. We look for a long lasting business relation with you.</span></p>


    <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> -->
</div><!-- intialize footer -->
 <!-- <app-footer></app-footer> -->
 <!-- <app-resmenu></app-resmenu> -->
 <div id="toast">

</div>