li {
    list-style-type: circle;
}
ul,ol{
    display:block;
}
.content{
    padding: 0% 5%;
    margin: 27px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: white;
    padding-bottom: 6%;
    line-height: 31px;
    box-shadow: 8px 8px 10px grey;
    
}
.heading{
    font-size: 20px;
}
.sub-content p{
    text-align:justify;
    text-indent:50px;
}
.option{
    border: 1px solid #ece8e8;
    padding: 3%;
    margin: 4%;
    background: #f4faff;
    text-align: center;
}
.option-heading{
    padding:10px 0px;
    text-decoration: underline;
}


@media screen and (max-width:375px){
    .content{
        padding: 0% 4%;
        margin: 27px 0px;
    }  
    .heading{
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width:425px){
    .heading{
        font-size: 20px;
        text-align: center;
    }
}