.directory-preview{
        min-height: 100vh;
        background: #f4f4f4;
}
.featured-section {
    position: relative;
    background: transparent;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
}
.overlay {
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: #242429;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.featured-section.profile-cover{
    padding-bottom: 30%;
    opacity: 1;
}
.main-info-listing{
    position: absolute;
    bottom: 40px;
    z-index: 1000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
    left: 50%;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 30px;
    max-width: 1150px;
}
.profile-name {
    flex-wrap: wrap;
}

.profile-name {
    padding-left: 90px;
}
.profile-name,.layout-review-button {
    min-height: 80px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.profile-avatar {
    top: 0;
    left: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #dde5e6 50% no-repeat;
    background-size: cover;
    display: inline-block;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border-radius: 100%;
}
.profile-name h1{
    font-size: 32px;
    margin: 0;
    font-weight: 600;
    color: #fff;
    padding-bottom: 0;
    width: 100%;
}
.profile-name .tagline {
    display: -webkit-box;
    display: flex;
    margin-top: 7px;
    overflow: hidden;
    white-space: nowrap;
}

.layout-review-button{
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.review-btn{
    background: #24bda8;
    border: 1px solid transparent;
    padding: 0 15px;
    display: block;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 600;
}
.rv-column-wrapper {
    margin-right: -10px;
    margin-left: -10px;
}
.profile-body {
    padding-top: 25px;
    padding-bottom: 25px;

}
.element {
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}
.profile-body .element {
    margin-bottom: 25px;
}
.mi {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-rendering: auto;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0);
    transform: translate(0);
}
i.view_headline:before {
    content: "\e8ee";
}
.title-style i {
    float: left;
    color: #242429;
    font-size: 20px;
    padding-right: 6px;
    position: relative;
}
.title-style h5 {
    font-weight: 600;
    color: #242429;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0;
    font-size: 14px;
    float: left;
    line-height: 20px;
}
.element .pf-body {
    padding-top: 15px;
    width: 100%;
}
.title-style:after {
    content: "";
    display: table;
    clear: both;
}
i.map:before {
    content: "\e55b";
}
.video-div video{
    width: 100%;
}
i.view_module:before {
    content: "\e8f0";
}
.title-style i .mat-icon{
width: auto;
height: auto;
font-size: 20px;
}
.social-profiles li {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.social-profiles a {
    font-size: 0;
    border-radius: 50%;
    background: #b4bcc7;
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.social-profiles .mat-icon{
    color: #fff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 34px;
    width: auto;
    height: auto;
}
button.btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0 3px;
    color: white;
}
.btn-grey {
    background-color: #D8D8D8;
    color: #FFF;
    border-color: #ccc;
    margin: 0 3px;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-bar-danger {
    background-color: #d9534f;
}
.margin-top-20{
    margin-top:20px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
    margin-bottom:15px;
    width: 100%;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
}
.user-pic {
    width: 60px;
    height: 60px;
}
.stage {
    padding:10px;
    text-align:center;}
    .stage a {
        cursor: pointer;
      line-height:1em;
      letter-spacing:0.06em;
      font-family: 'Lato', sans-serif;
      font-weight:normal;
      font-size:14px;
      text-decoration:none;
      color:#fff;
      background:#24bda8;
      display:inline-block;
      padding:15px 12px 15px 15px;
      transition:background 200ms;
      border-radius:4px;
    }
    .stage a:hover {
      background:#cea052;
    }
    .stage a:after {
      font-family: 'FontAwesome', sans-serif;
      font-weight:300;
      content: "\f105";
      margin-left:20px;
      color:#fff;
      font-size:16px;
      vertical-align:middle;
      transition:color 200ms;
    }
    
    .stage a:hover:after {
      color:#fff;
    }

    .header-galler-wrapper {
        position: relative;
        z-index: 1;
        height: 380px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .header-galler-wrapper.style-white:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: #182b54;
      }
      .entry-header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 15px 0;
        border: none;
        background: transparent;
        color: #fff;
      }
      .listing-logo {
        padding-right: 15px;
        display: inline-block;
      }
      .listing-logo .inner-img {
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .image-wrapper {
        background-position: center center;
        background-repeat: no-repeat;
        background-image: none;
        max-height: 100%;
        width: 100px;
        height: 100px;
      }
      .image-wrapper img {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        height: 100px;
        width: 100px;
      }
      .listing-logo img {
        max-width: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .image-wrapper img {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      .entry-title-wrapper > * {
        display: inline-block;
        vertical-align: middle;
      }
      .entry-title-wrapper .entry-title {
        margin: 0 0 5px;
        font-size: 20px;
        font-weight: 400;
        padding: 0;
      }
      .entry-title-wrapper .entry-title {
        color: #fff;
      }
      .entry-title-wrapper .listing-claimed-icon {
        margin-left: 10px;
        color: #fff;
        background: transparent;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 10px;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        position: relative;
        top: -2px;
      }
      .entry-title-wrapper .listing-claimed-icon .mat-icon {
        font-size: 20px;
        height: auto;
        width: auto;
      }
      .header-metas {
        margin-top: 5px;
      }
      .listing-category {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        font-weight: 600;
      }
      .header-metas > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      .entry-header a {
        color: #fff;
      }
      .header-metas .listing-phone.show {
        display: inline-block !important;
      }
      .phone-wrapper.phone-hide a.phone {
        display: none;
      }
      .phone-wrapper.phone-hide .phone-show {
        display: inline-block;
        cursor: pointer;
      }
      .header-metas i {
        margin-right: 3px;
        font-size: 18px;
        position: relative;
        top: 3px;
        padding-right: 0;
      }
      .header-metas i .mat-icon {
        width: auto;
        height: auto;
        font-size: 18px;
      }
      .phone-wrapper.phone-hide.show .phone-show {
        display: none;
      }
      .phone-wrapper.phone-hide .phone-show span {
        display: inline-block;
        font-size: 11px;
        padding: 5px 10px;
        line-height: 1;
        border-radius: 4px;
        color: #fff;
        background: #29af6a;
      }
      .entry-header-right > div {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        margin-right: 5px;
      }
      .entry-header-right .listing-review {
        display: block;
        margin-bottom: 8px;
        margin-right: 0;
        padding: 0;
        border: none !important;
      }
      .review-avg {
        color: #fff;
        font-weight: 700;
        line-height: 1;
      }
      [class*="dir-bookmark"],
      .comment-dislike,
      .comment-love,
      .comment-like {
        position: relative;
      }
      .bookmark-add {
        position: relative;
        display: inline-block;
        line-height: 1;
        color: #626a70;
        white-space: nowrap;
      }
      .entry-header-right [class*="dir-bookmark"],
      .entry-header-right .share-popup,
      .entry-header-right .listing-reviews {
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 15px 10px;
        display: inline-block;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
      }
      .entry-header-right [class*="dir-bookmark"] i,
      .entry-header-right .share-popup i,
      .entry-header-right .listing-reviews i {
        margin-right: 3px;
        font-size: 16px;
        position: relative;
        top: 2px;
      }
      .dir-bookmark-add i + *,
      .dir-bookmark-not-login i + *,
      .dir-bookmark-added i + *,
      .listing-preview i + * {
        display: inline-block;
        margin-left: 10px;
        vertical-align: text-top;
      }
      .entry-header-right [class*="dir-bookmark"] i + .bookmark-text {
        margin: 0;
      }
      .listing-bookmark i .mat-icon,
      .listing-reviews i .mat-icon,
      .share-popup i .mat-icon {
        width: auto;
        height: auto;
        font-size: 16px;
      }
      .entry-header-right [class*="dir-bookmark"]:hover,
      .entry-header-right [class*="dir-bookmark"]:focus,
      .entry-header-right .share-popup:hover,
      .entry-header-right .share-popup:focus,
      .entry-header-right .listing-reviews:hover,
      .entry-header-right .listing-reviews:focus {
        border-color: #fff;
        color: #2fbca7;
        background-color: #fff;
      }
      .sharing-popup {
        margin-right: 0 !important;
      }
      .phone-wrapper.phone-hide.show a.phone {
        display: inline-block;
      }
      @media screen and (min-width: 1200px) {
        .entry-header-right .listing-review {
          margin-bottom: 18px;
        }
        .entry-title-wrapper .entry-title {
          font-size: 25px;
        }
        .entry-header {
          padding: 30px 0;
        }
        .header-galler-wrapper.style-white {
          height: 410px;
        }
        .listing-logo {
          padding-right: 20px;
          display: inline-block;
        }
        .header-metas > * {
          margin-right: 15px;
        }
        
      }
      @media screen and (max-width: 991px) {
        .entry-header-right [class*="dir-bookmark"] .text,
        .entry-header-right [class*="dir-bookmark"] .bookmark-text,
        .entry-header-right .share-popup .text,
        .entry-header-right .share-popup .bookmark-text,
        .entry-header-right .listing-reviews .text,
        .entry-header-right .listing-reviews .bookmark-text {
          display: none;
        }
        .entry-header-right i {
          margin: 0 !important;
        }
      }
      @media screen and (min-width: 992px) {
        .flex-middle-md {
          display: -webkit-flex;
          -webkit-align-items: center;
          display: flex;
          align-items: center;
        }
      }
      @media screen and (min-width: 768px) {
        
        .entry-header-right .listing-review {
          text-align: right;
        }
        .entry-header-right {
          margin-bottom: 13px;
          float: right;
        }
        .flex-bottom-sm {
          display: -webkit-flex;
          -webkit-align-items: flex-end;
          display: flex;
          align-items: flex-end;
        }
      }
      @media screen and (max-width: 767px) {
        [class*="col-md-"] {
          margin: 0;
          padding-left: 15px;
          padding-right: 15px;
        }
        .entry-header-right{
            margin: 10px 0;
        }
        .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 100%;
      }
      .col-sm-5 {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
      }
      }
      
      
      