<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">              
  <div class="container">
      <div class="action-list">
          <ul>
              <li><a mat-raised-button [routerLink]="['/businesscreate']"><i style="margin-right: 15px;" class="fa fa-plus"></i>Create Post</a></li>
              <!-- <li><a mat-raised-button [routerLink]="['/businesslist']"><i style="margin-right: 15px;" class="fa fa-eye"></i>List Post</a></li> -->
          </ul>
      </div>
      <section id="table-content">    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="directoryid">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.directoryid}} </td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          <ng-container matColumnDef="subcategory">
            <th mat-header-cell *matHeaderCellDef> Sub Category </th>
            <td mat-cell *matCellDef="let element"> {{element.subcategory}}</td>
          </ng-container>
          <ng-container matColumnDef="directorytitle">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.directorytitle}} </td>
          </ng-container>
          <ng-container matColumnDef="directoryaddress">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.directoryaddress}} </td>
          </ng-container>
          <ng-container matColumnDef="directorycontactname">
            <th mat-header-cell *matHeaderCellDef> Contact Name </th>
            <td mat-cell *matCellDef="let element"> {{element.directorycontactname}} </td>
          </ng-container>
          <ng-container matColumnDef="images">
            <th mat-header-cell *matHeaderCellDef> Images </th>
            <td mat-cell *matCellDef="let element"> 
              <i class="fa fa-image" (click)="imamgedirectory(element.directoryid)" aria-hidden="true"></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
              <i class="fa fa-pencil" aria-hidden="true" (click)="Editprofile(element.directoryid)"></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> 
              <i class="fa fa-trash" (click)="deletedirectory(element.directoryid)" aria-hidden="true"></i>
            </td>
          </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>                
          <!-- <table>
              <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Title</th>
                <th>Address</th>
                <th>Contact Name</th>
                 <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let profile of profiles">
                <td>{{profile.directoryid}}</td>
                <td>{{profile.category}}</td>
                <td>{{profile.subcategory}}</td>
                <td>{{profile.directorytitle}}</td>
                <td>{{profile.directoryaddress}}</td>
                <td>{{profile.directorycontactname}}</td>
                <td><i class="fa fa-pencil" aria-hidden="true" (click)="Editprofile(profile.directoryid)"></i></td>
                <td><i class="fa fa-trash" (click)="deletedirectory(profile.directoryid)" aria-hidden="true"></i></td>
              </tr>
          </table> -->
      </section>
      <section id="list-content">
        <div *ngFor="let profile of profiles">
          <div class="icon-div">
          <button class="icon-btn" mat-raised-button mat-icon-button (click)="imamgedirectory(profile.directoryid)">
            <i style="margin: 0px 5px;" class="fa fa-image"  aria-hidden="true"></i>
          </button>
          <button class="icon-btn" mat-raised-button mat-icon-button (click)="Editprofile(profile.directoryid)">
              <i mat-raised-button style="margin: 0px 5px;" class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="icon-btn" mat-raised-button mat-icon-button (click)="deletedirectory(profile.directoryid)">
            <i mat-raised-button style="margin: 0px 5px;" class="fa fa-trash"  aria-hidden="true"></i>
          </button>
          </div>
          <div class="list-content">
          <table>
            <tr>
              <td>ID</td>
              <td>{{profile.directoryid}}</td>
            </tr>
            <tr>
              <td>Category</td>
              <td>{{profile.category}}</td>
            </tr>
            <tr>
              <td>Subcategory</td>
              <td>{{profile.subcategory}}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td>{{profile.directorytitle}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{profile.directoryaddress}}</td>
            </tr>
            <tr>
              <td>Contact Name</td>
              <td>{{profile.directorycontactname}}</td>
            </tr>
          </table>     
              <!-- <ul>
                <li>{{profile.directoryid}}</li>
                <li>{{profile.category}}</li>
                <li>{{profile.subcategory}}</li>
                <li>{{profile.directorytitle}}</li>
                <li>{{profile.directoryaddress}}</li>
                <li>{{profile.directorycontactname}}</li>
              </ul> -->
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- intialize footer -->
<!-- <app-footer></app-footer> -->
<!-- <app-resmenu></app-resmenu> -->