table {
    width: 100%;
    margin-bottom: 10%;
  }
::ng-deep{
    #table-content table th, td {
        padding-left: 10px;
        text-align: center;
    }
}
#list-content{
    display:none;
}
.action-list ul li a{
    background: black;
    color: lightblue;
}
.action-list{
    margin-bottom: 10%;
}
.action-list ul{
    float: right;
    padding: 30px 0px;
}
.icon-btn{
    background: #cec8c8;
    box-shadow: 3px 2px 7px grey;
    margin: 0px 6px;
    color: darkblue;
}
.icon-div{
    float: right;
    padding: 30px 10px 10px;
}
.list-content{
    float: left;border: 1px solid #c7c3c3;
    padding: 25px;
    border-radius: 7px;
    background: floralwhite;
    box-shadow: 0px 4px 17px #c1bfbf;
    margin-bottom: 20px;
}

@media screen and (max-width:425px){
   #table-content {
       display:none;
   }
   #list-content{
       display:block;
   }
   #list-content table tr{
        border-bottom: 1px solid #d6d5d5;
   }
   .action-list ul{
    float: left;
    // padding: 0px 5% 0px 0px;
}
}
