<!-- intialize header -->
<app-header [login]="userid"></app-header><div class="wrapper">  
    <div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>            
  <div class="container">
      <section id="content" class="login">
            <!-- {{loginform.value | json}} -->
          <form novalidate #loginform = "ngForm">
              <h1>Forgot password</h1>
              <mat-form-field class="form-field">
                  <input matInput type="text" placeholder="Email" [(ngModel)]="email" name="email" required="" id="username"/>
              </mat-form-field>
              <div style="margin: 5% 10%">
                  <button mat-raised-button class="submit-btn"  (click)="forgot()" type="submit">Submit</button>
              </div>
              <!-- <div>
              </div>
           
            <div>
                <input (click)="forgot()" type="submit" value="Submit" />
                
              </div> -->
          </form>
          </section>
        </div>
      </div>
        <!-- intialize footer -->
  <!-- <app-footer></app-footer> -->
  <!-- <app-resmenu></app-resmenu> -->