#content {
    background: #f9f9f9;
    box-shadow: 0 1px 0 #fff inset;
    /* border: 1px solid #c4c6ca; */
    margin: 100px auto;
        margin-top: 100px;
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
    max-width: 100%;
    box-shadow: 8px 8px 10px grey;
}
#content h1::before, #content h1::after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 22%;
}
// #content form input{
// border-radius: 3px;
// box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
// transition: all 0.5s ease;
// border: 1px solid #c8c8c8;
// color: #777;
// font: 13px Helvetica, Arial, sans-serif;
// margin: 0 0 10px;
// padding: 15px 10px 15px 40px;
// width: 80%;
// }

#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

.form-field{
    width: 100%;
    padding: 0px 45px;
}
.submit-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
      }
}