<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Enter your email" [(ngModel)]="login.email" name="email" required="" id="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Enter your password" [(ngModel)]="login.password" name="password" required="" id="password">
  </mat-form-field>
  <p class="login-error">{{errorMsg}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="submitClick()">Submit</button>
  <button mat-raised-button class="mat-raised-button" mat-dialog-close tabindex="-1">Cancel</button>
  <em>or</em>
  <button mat-button (click)="registerClick()">Register here</button>
</div>
