<div class="sticky">
    <a [ngClass]="homecls" (click)="callPages('home')">
      <i class="fa fa-home"></i>
      <p>Home</p>
    </a>
    <a [ngClass]="categoriescls" (click)="callPages('category')">
      <i class="fa fa-list-alt"></i>
      <p>Categories</p>
    </a>
    <a [ngClass]="editioncls" (click)="callPages('edition')">
      <i class="fa fa-book"></i>
      <p>Edition</p>
    </a>
    <a [ngClass]="businesscls" (click)="callPages('business')">
      <i class="fa fa-user-plus"></i>
      <p>Business</p>
    </a>
</div>
