.stat-box {
    height: 120px;
    border-radius: 2px;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}
.stat-box h2, .stat-box p {
    color: #fff;
    margin: 0;
    font-weight: 400;
}
.stat-box i {
    position: absolute;
    top: 34px;
    right: 44px;
    font-size: 50px;
    color: rgba(0,0,0,.15);
}

.icon-window .mat-icon{
    width: auto;
    height: auto;
    font-size: 50px;
}
.dashboard-section{
    height: 100vh;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .mat-elevation-z8{
    box-shadow: 1px solid #efefef;
  }
  .mat-column-id {
    flex: 0 0 8% !important;
    min-width: 60px !important;
}
.mat-column-actions {
  flex: 0 0 10% !important;
  min-width: 60px !important;
}
.mat-icon-button{
  outline: none;
}