<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
    <div id="preloader-status"></div>
</div>
<div class="dashboard-section">
    <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
        <div class="inner-bread">
            <div class="wrapper-bread">
                <div class="container">
                    <div class="breadscrumb-inner text-center">
                        <h2 class="bread-title">Business Card List</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a> </li>
                            <li><span class="active">Received card</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="table-content">
        <div class="container">
            <div class="row">
              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
              
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%"> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} 
              
                    </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.name}} </mat-cell>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.subject}}</mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="createdAt">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="openCard(element.card_id)">
                          <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                        </button>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
         
                </mat-table>

                <mat-paginator #paginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
 </mat-paginator>
              </div>
              
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<div id="toast">

</div>