<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
  <div class="inner-bread">
    <div class="wrapper-bread">
      <div class="container">
        <div class="breadscrumb-inner text-center">
          <h2 class="bread-title">Update Business Card</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a> </li>
            <li><span class="active">Edit Card details</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="content">
  <div class="form-wrapper register">
    <section class="center">
      <form #registerform="ngForm">
        <h1 style="text-transform:capitalize;">Update Card</h1>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput required type="text" placeholder="Name" [(ngModel)]="cardData.name" name="name" required=""
            id="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput required type="email" placeholder="Email" name="email" required="" id="email"
            [(ngModel)]="cardData.email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput required type="text" maxlength="10" minlength="10" placeholder="Phone" id="phone" name="phone"
            [(ngModel)]="cardData.phone" (keydown)="AcceptNumber($event)"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput id="address" name="address" [(ngModel)]="cardData.address" matTextareaAutosize
            matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
        </mat-form-field>
        <div class="job_logo">
          <div class="field-head">
            <label>Logo</label>
          </div>
          <div class="file-upload-field clearfix">
            <label class="gallery-add">
              <i class="mi file_upload"></i>
              <input #file type="file" accept='image/*' (change)="previewlogo($event)">
            </label>
            <span class="img-preview">
              <img [src]="imgURL" *ngIf="imgURL">
            </span>
          </div>
          <small class="hint">Maximum file size: 1 MB.</small>
          <span class="help-error" *ngIf="logoError">Logo is a required field.</span>
        </div>
        <div>
          <button mat-raised-button class="register-btn" (click)="updatecard()" id="register-btn">Update</button>
        </div>
      </form>
    </section>
  </div>
</div>
<app-footer></app-footer>
<div id="toast">

</div>