#table-content{
    width:100%;
}
.form-field, .select-field{
    width:100%;
    margin-top: 5px;
}
form{
    padding: 10px;
}
.create-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
      }
}
.pull-right{
    width:50%; float:right; padding:50px;
}
.pull-left{
    width:50%; float:left; padding:50px;
}
@media screen and (max-width:840px){
    .pull-right{
        width:100%; float:right; padding:50px;
    }
    .pull-left{
        width:100%; float:left; padding:50px;
    }
    .action-list ul{
        float: left;
    }
}
.action-list ul li a{
    background: black;
    color: lightblue;
}
.action-list ul{
    float: right;
}
@media screen and (max-width:768px){
    .pull-right{
        width:100%; float:right; padding:15px;
    }
    .pull-left{
        width:100%; float:left; padding:15px;
    }
    input[type=file]{
        width: 100%;
        padding-bottom: 0px;
    }
    h1{
        padding-bottom: 0px;
    }
    
}
@media screen and (max-width:375px){
    .action-list ul{
        float: left;
        margin: 0px 170px;
    }
}
@media screen and (max-width:320px){
    .action-list ul{
        float: left;
        margin: 0px 115px;
    }
}
