<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">              
  <div class="container">
      <div class="action-list">
          <ul>
            <li><a mat-raised-button [routerLink]="['/businesslist']"><i style="margin-right: 15px;" class="fa fa-eye"></i>List Post</a></li>
              <!-- <li><a [routerLink]="['/businesscreate']"><i class="fa fa-plus" aria-hidden="true"></i>Create Post</a></li>
              <li><a [routerLink]="['/businesslist']"><i class="fa fa-eye" aria-hidden="true"></i>List Post</a></li> -->
          </ul>
      </div>
      <section class="enquiry-form" id="table-content">                           
          <form id="post-create">
              <h1>Create Post</h1>
              <div class="pull-left" style="background: rgba(255, 255, 255, 0.8)">

                <mat-form-field class="select-field">
                    <mat-select required placeholder="Category" name="category" (change)="loadSubcategory(buscreatemethod.categoryid)" [(ngModel)]="buscreatemethod.categoryid">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryid">{{category.category}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="select-field">
                    <mat-select placeholder="Status" name="status" [(ngModel)]="buscreatemethod.directorystatus">
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="0">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <textarea matInput id="subject" name="description" placeholder="Write About.."  [(ngModel)]="buscreatemethod.directorydescription"></textarea>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput required type="text" id="lname" name="contact" placeholder="Contact Name.." [(ngModel)]="buscreatemethod.directorycontactname"/>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <textarea matInput required id="subject" name="address" placeholder="Address.." required [(ngModel)]="buscreatemethod.directoryaddress"></textarea>
                </mat-form-field>
                <input type="file" required fileinput="file" name="file" (change)="fileChangeListener($event)" filepreview="filepreview" />
                <img width="200px" *ngIf="(buscreatemethod.imagename != '') || (buscreatemethod.imagename != null) || (buscreatemethod.imagename != undefined) " id="profile-img" class="img-responsive" alt="Profile Image"/>
                <img width="200px" *ngIf="(buscreatemethod.imagename == '') || (buscreatemethod.imagename == null) || (buscreatemethod.imagename == undefined) " src="../../assets/images/default_image.jpg" id="default_img" class="img-responsive"/>
              </div>
              <div class="pull-right" style="background: rgba(255, 255, 255, 0.8)">
                <mat-form-field class="select-field">
                    <mat-select required placeholder="Sub Category" name="subcategory" [(ngModel)]="buscreatemethod.subcategoryid">
                        <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryid">{{subcategory.subcategory}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="text" id="title" name="title" placeholder="Your Title.." required [(ngModel)]="buscreatemethod.directorytitle" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="text" id="lname" name="url" placeholder="URL link.." [(ngModel)]="buscreatemethod.directoryurl"/>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="email" id="email" name="email" placeholder="URL Email.." [(ngModel)]="buscreatemethod.directoryemail" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput type="text" id="phone" name="phone" placeholder="Contact Number.." required [(ngModel)]="buscreatemethod.directorycontactnumber"/>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input required matInput type="text" id="lname" name="landmark" placeholder="Lankmark.."  [(ngModel)]="buscreatemethod.directorylandmark"/>
                </mat-form-field>
                <mat-form-field class="select-field">
                    <mat-select placeholder="Status" name="status" [(ngModel)]="buscreatemethod.directorystatus">
                        <mat-option value="0">Others</mat-option>
                        <mat-option value="1">Villupuram</mat-option>
                        <mat-option value="2">Tindivanam</mat-option>
                        <mat-option value="3">Panruti</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button class="create-btn" (click)="buscreate()" type="submit">Create</button>
              </div>
              

              <!-- <label for="fname">Category*</label>
              <select name="category" (change)="loadSubcategory(buscreatemethod.categoryid)" [(ngModel)]="buscreatemethod.categoryid">
                  <option *ngFor="let category of categories" [value]="category.categoryid">{{category.category}}</option>
              </select> 
              <label for="fname">Subcategory*</label>
              <select name="subcategory" [(ngModel)]="buscreatemethod.subcategoryid">
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryid">{{subcategory.subcategory}}</option>
              </select>
              <label for="title">Title*</label>
              <input type="text" id="title" name="title" placeholder="Your Title.." required [(ngModel)]="buscreatemethod.directorytitle" />
              <label for="fname">Status*</label>
              <select name="status" [(ngModel)]="buscreatemethod.directorystatus">
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
              </select>
              <label for="description">Description</label>
              <textarea id="subject" name="description" placeholder="Write About.."  [(ngModel)]="buscreatemethod.directorydescription"></textarea>
              
              <label for="contactname">Contact Name</label>
              <input type="text" id="lname" name="contact" placeholder="Contact Name.." [(ngModel)]="buscreatemethod.directorycontactname" />

              <label for="address">Address *</label>
              <textarea id="subject" name="address" placeholder="Address.." required [(ngModel)]="buscreatemethod.directoryaddress"></textarea>
              
              <label for="fname">Status*</label>
              <select name="status" [(ngModel)]="buscreatemethod.directorystatus">
                  <option value="0">Others</option>
                  <option value="1">Villupuram</option>
                  <option value="2">Tindivanam</option>
                  <option value="3">Panruti</option>
              </select>

              <label for="landmark">Landmark</label>
              <input type="text" id="lname" name="landmark" placeholder="Lankmark.."  [(ngModel)]="buscreatemethod.directorylandmark" />
              
              <label for="url">URL</label>
              <input type="text" id="lname" name="url" placeholder="URL link.." [(ngModel)]="buscreatemethod.directoryurl"  />

              <label for="subject">Email</label>
              <input type="email" id="email" name="email" placeholder="URL Email.." [(ngModel)]="buscreatemethod.directoryemail"  />
              
              <label for="phone">Contact Number*</label>
              <input type="text" id="email" name="phone" placeholder="Contact Number.." required [(ngModel)]="buscreatemethod.directorycontactnumber">

              <label for="file">Profile Image</label>
              <input type="file" fileinput="file" name="phone" (change)="fileChangeListener($event)" filepreview="filepreview" />
              
              <img width="200px" id="profile-img" class="img-responsive" alt="Profile Image"/>                        
              <input (click)="buscreate()" type="submit" value="create" /> -->
          </form>
      </section>
  </div>
</div>
<!-- intialize footer -->
<!-- <app-footer></app-footer> -->
<!-- <app-resmenu></app-resmenu> -->