<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="wrapper">              
  <div class="container">
<section id="content"  class="register">
        <!-- {{busregisterform.value | json}} -->
  <form novalidate #busregisterform = "ngForm">
      <h1 style="text-transform:capitalize; text-align: center;">Register Form</h1>
      <mat-form-field class="form-field">
        <input matInput type="text" placeholder="Name" name="name" required="" id="username" [(ngModel)]="busregister.username" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Email" name="email" required="" id="email" [(ngModel)]="busregister.email" />
      </mat-form-field>
      <mat-form-field class="form-field">
          <input matInput type="password" placeholder="Password" name="password" required="" id="password" [(ngModel)]="busregister.password"/>
          <div class="showhidepsw">
            <i class="fa fa-eye-slash" (click)="showhidepassword()"></i>
          </div>
      </mat-form-field>
      <mat-form-field class="form-field">
          <input matInput type="text" maxlength="10" minlength="10" placeholder="Phone" id="phone" name="phone" (input)="Phonenumbervalid($event.target.value)"
            [(ngModel)]="busregister.phone"/>
      </mat-form-field>
      <div>
        <button mat-raised-button class="register-btn" (click)="register()" id="register-btn">Register</button>
        <a class="exist-link" [routerLink]="['/businesslogin']">Are You Existing User?</a>
      </div>
  </form>
</section>
</div>
</div>
  <!-- intialize footer -->
  <div id="toast">

</div>