section#content {
    width: 340px;
    max-width: 100%;
    margin: 50px auto;
    vertical-align: middle;
    padding: 20px;
    background: rgb(249, 246, 246);
    box-shadow: 8px 8px 10px grey;
}

h1 {
    padding-bottom: 0;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #2aa997;
    letter-spacing: 2px;
}

input[type=submit] {
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-field{
    width:100%;
}
.register-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    // .mat-form-field-appearance-legacy .mat-form-field-label {
    //     color: #cac9c5;
    // }
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //     background-color: rgb(196, 195, 190);
    // }
}
.exist-link{
    color:#24bda8;
}
