#content {
    padding-top: 40px;
    padding-bottom: 70px;
    min-height: 467px;
    background: #efefef;
}
.form-wrapper.register {
    position: relative;
    width: 400px;
    min-height: 540px;
}
.form-wrapper, .inner {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.mat-form-field{
    width: 100%;
}
section.center {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}
.form-wrapper.register .divider {
    float: left;
    width: 46%;
}
.form-wrapper.register .divider.ml {
    margin-left: 4%;
}
.form-wrapper.register .divider.mr {
    margin-right: 4%;
}
.divider .mat-form-field{
    display: block;
}
.form-field{
    width:100%;
}
.register-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 14px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 14px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    // .mat-form-field-appearance-legacy .mat-form-field-label {
    //     color: #cac9c5;
    // }
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //     background-color: rgb(196, 195, 190);
    // }
}
.exist-link{
    color: #333;
    font-size: 14px;
    line-height: 1.25em;
    margin: 0;
}
.showhidepsw {
    position: absolute;
    right: 10px;
    top: 6px;
}
.section-breadcumb{
    margin-bottom: 0;
}
.job_logo .field-head label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}
.gallery-add{
    display: block;
    float: left;
    position: relative;
    font-size: 0;
    margin: 0 10px 10px 0;
    background: transparent;
    color: rgba(45,45,45,.21);
    border: 2px dashed #ddd;
    width: calc(40% - 10px);
    height: 120px;
    cursor: pointer;
}
.gallery-add i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.gallery-add input{
    display: none;
}
.mi {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-rendering: auto;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0);
    transform: translate(0);
}
small.hint{
        font-size: 13px;
        opacity: .8;
}
.mi.file_upload:before {
    content: "\e2c6";
}
:host ::ng-deep .job_description .mat-form-field-appearance-outline .mat-form-field-flex{
    height: 200px;
}
.img-preview{
    display: inline-block;
    width: calc(40% - 10px);
    height: 120px;
    padding-left: 10px;
}
.img-preview img{
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}
.img-preview img{
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 8px!important;
    box-shadow: none!important;
}
.help-error{
    display: block;
    color:  red;
}