<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="profilewrapper">
  <div class="loader">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container">
      <div class="bredcrum">
        <ul>
          <li>
            <a [routerLink]="['/']">Home</a>/
          </li>
          <li>
            <a [routerLink]="['/maincategory']">Categories</a>/
          </li>
          <li>
            <a>{{subcategory_det.subcategory}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="profile-list">
        <div class="form-row search-field">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input name="profilesearch" class="formcontrol" [(ngModel)]="filter" type="text" placeholder="Search Here" />
        </div>
        <div class="listing-head" *ngFor="let profile of profiles | filter:filter | slice: lowValue : highValue">
        <div class="listing clearfix">
          <div class="figure">
            <!-- <img *ngIf="((profile.imagename != '') && (profile.imagename != null))" src='{{image_url}}{{profile.imagename}}' alt="Profile Image">
              <img *ngIf="((profile.imagename == '') || (profile.imagename == null))" src="./assets/images/02.jpg" alt="Profile Image"> -->
            <img *ngIf="(profile.imagename == '') || (profile.imagename == null) " src="./assets/images/banner3.jpg" alt="Profile Image">
            <img *ngIf="!((profile.imagename == '') || (profile.imagename == null))" src="{{image_url}}{{profile.imagename}}" alt="Profile Image">
          </div>
          <div *ngIf="profile.verify_label == 1 && profile.premium_label == 0" matTooltip="Online Verified"
            class="ribbon-wrappers-red">
            <div class="ribbon-red">
              <p>
                Verified
              </p>
            </div>
          </div>

          <div *ngIf="profile.premium_label == 1" matTooltip="Have a Premium" class="ribbon-wrappers-blue">
            <div class="ribbon-blue">
              <p>
                Premium
              </p>
            </div>
          </div>
          <div class="list-content">
            <div class="list-title">
              <h5 [routerLink]="['/profile',profile.title,sid,profile.directoryid,city]"
                matTooltip="{{profile.directorytitle | ampand}}" style='cursor: pointer;'>
                {{profile.directorytitle | ampand}}</h5>
            </div>
            <div class="location">
              <p>
                <i class="fa fa-map-marker"></i>
                {{profile.directoryaddress | ampand}}
              </p>
            </div>
            <div class="phone">
              <p>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                {{profile.directorycontactnumber | ampand}}
              </p>
            </div>

            <div class="email">
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                {{profile.directoryemail}}
              </p>
            </div>

            <div class="rating">
              <div>
                <bar-rating [(rate)]=" profile.rating" [theme]="'bootstrap'" [max]="5" [readOnly]="true"></bar-rating>
              </div>
            </div>

            <div class="email">
              <p>
                <a style="font-size:22px" href="{{profile.blogger_link}}" target="_blank"
                  matTooltip="Link To Blogger"><i class="fab fa-blogger-b"></i></a>
                <a *ngIf="profile.single_page_link?.length" style="margin-left:15px; font-size:22px" href="{{profile.single_page_link}}" target="_blank"
                  matTooltip="Link To Single Page"><i class="fa fa-globe"></i></a>

                  <a *ngIf="!profile.single_page_link?.length" style="margin-left:15px; font-size:22px" href="javascript::void(0)"
                  matTooltip="Link To Single Page"><i class="fa fa-globe"></i></a>
              </p>
            </div>
          </div>
        </div>
        </div>
        <div *ngIf="profilelength == 0">No Records Available</div>
        <div *ngIf="profilelength > 0">
          <mat-paginator showFirstLastButtons [length]="profilelength" [pageSize]="pageSize"
            (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- intialize footer -->