.p1 {
  padding-bottom: 30px;
}
.filter-word {
  overflow: hidden;
  margin: 20px 0;
}

h5:focus,
.list_title:focus {
  outline: 0;
}

.word {
  text-align: center;
  padding: 5px 10px;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.32);
  border: 1px solid rgba(34, 34, 34, 0.13);
  cursor: pointer;
  display: inline-flex;
  margin: 3px;
  font-weight: bold;
  color: #9591a0;
}

.word:hover {
  background: #020238;
  color: #24bda8;
}

.word.active {
  background: #020238;
  color: #24bda8;
}
.clear {
  cursor: pointer;
  padding: 5px 5px;
  padding-bottom: 15px;
}

.clear:hover {
  color: blue;
}

.clear-div {
  overflow: hidden;
  padding-bottom: 20px;
}

.test1 {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.16);
  color: black;
  margin: 10px 5px;
  background: white;
  cursor: pointer;
}

.test1.active {
  background: #020238;
  color: #24bda8;
}

.pagination > li.active > a {
  background: #020238;
  color: #24bda8;
}

.disabled a {
  cursor: no-drop;
  background: rgba(82, 84, 85, 0.7);
  color: white;
}

.disabled a:hover {
  cursor: no-drop;
  background: rgba(82, 84, 85, 0.7);
  color: white;
}

.form-row.search-field {
  position: relative;
  width: 520px;
  max-width: 100%;
}

i.fa.fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
}

input.formcontrol {
  height: 40px;
  padding: 10px;
  padding-left: 28px;
  border: 1px solid rgba(204, 204, 204, 0.66);
  border-radius: 3px;
  width: 100%;
}
.profilewrapper {
  width: 100%;
  min-height: 100vh;
}
.wrappers {
  margin: 15px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
}
.ribbon-wrappers-red,
.ribbon-wrappers-green,
.ribbon-wrappers-blue {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ea181e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ea181e), to(#b90005));
  background-image: -webkit-linear-gradient(top, #ea181e, #b90005);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.ribbon-blue {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: gold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(gold), to(gold));
  background-image: -webkit-linear-gradient(top, gold, gold);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: black;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  left: -29px;
  top: 15px;
  width: 120px;
  background-color: #8dc735;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8dc735), to(#649a12));
  background-image: -webkit-linear-gradient(top, #8dc735, #649a12);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-red:before,
.ribbon-red:after {
  content: "";
  border-top: 3px solid #b90005;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-blue:before,
.ribbon-blue:after {
  content: "";
  border-top: 3px solid #4aabd1;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:after,
.ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-blue:before {
  left: 0;
}
.ribbon-green:before {
  right: 0;
}

.ribbon-red:after {
  right: 0;
}
.ribbon-blue:after {
  right: 0;
}
.ribbon-green:after {
  left: 0;
}

.side-bar {
  margin-bottom: 20px;
}

app-header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #020238;
  top: 0;
  left: 0;
  z-index: 9;
}

.br-default .br-unit:after {
  color: #ffffff;
}