.file-load{
    margin: 20px;
    border: 1px solid grey;
    background: white;
    padding: 20px;
}
.save-btn{
    background-color: #37b318;
    color: white;
}
.delete-btn{
    background-color: #e6313a;;
    color: white;
}
.banner-btn{
    background-color: rgb(25, 0, 255);
    color: white;
}
th{
    text-align: center;
}
td{
    align-content: center;
    text-align: center;
}
.image-container{
    padding:100px 20%;
}
.table-div{
    padding: 0% 10% 10%;
}
.sl{
    display:block;
}
.action-list-img ul li a{
    background: black;
    color: lightblue;
}
.action-list-img ul{
    float: right;
    padding: 0px 10% 0px 0px;
}

@media screen and (max-width:425px){
    .image-container{
        padding:10px;
    }
    .file-load{
        margin: 17px;
        padding: 20px;
        width: 89%;
    }
    .img-div{
        padding: 10% 15%;
        margin-top: 10px;
    }
    .table-div{
        padding: 0% 0% 0%;
    }
    .sl{
        display:none;
    }
    .action-list-img ul{
        float: right;
        padding: 0px;
    }
}