<app-header [login]="userid"></app-header>
<div class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
<div class="action-list-img">
    <ul>
        <li><a mat-raised-button [routerLink]="['/businesslist']"><span style="margin-right: 15px;">>></span>Back</a></li>
    </ul>
</div>
<div class="image-container">
  <h1>Image Gallery</h1>
  <input class="file-load" type="file" fileinput="file" (change)="fileChangeListener($event)" filepreview="filepreview" />
  <button mat-raised-button class="save-btn" (click)=saveImage()>Save</button>
  <div class="img-div">
    <img width="200px" *ngIf="default_image" width=200px id="profile_img" alt="banner images" />
    <img width="200px" *ngIf="!default_image" src="../../assets/images/default_image.jpg" id="default_img" class="img-responsive"/>
  </div>
  
</div>
<div class="table-div">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class='sl'>Sl No</th>
                <th>Image</th>
                <th>Set As Banner</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let image of images; let i = index">
                <td class="sl">{{i+1}}</td>
                <td><img width=200px id="profile_image" alt="banner images" src="{{img_url}}{{image.imagename}}"/></td>
                <td><button mat-raised-button class="banner-btn" (click)=updateBanner(image.imagegalleryid)>Set As Banner</button></td>
                <td><button mat-raised-button class="delete-btn" (click)=deleteImage(image.imagegalleryid)>delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <app-footer></app-footer> -->
