.stat-box {
    height: 120px;
    border-radius: 2px;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}
.stat-box h2, .stat-box p {
    color: #fff;
    margin: 0;
    font-weight: 400;
}
.stat-box i {
    position: absolute;
    top: 34px;
    right: 44px;
    font-size: 50px;
    color: rgba(0,0,0,.15);
}

.icon-window .mat-icon{
    width: auto;
    height: auto;
    font-size: 50px;
}
.dashboard-section{
    height: 100vh;
}
@media screen and (max-width: 767px){
    .dashboard-section{
        height: 100%;
    }
    /*[class*=col-] {
        margin: 0 15px;
    }
    */
}
