<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
    <div id="preloader-status"></div>
</div>
<div class="dashboard-section">
    <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
        <div class="inner-bread">
            <div class="wrapper-bread">
                <div class="container">
                    <div class="breadscrumb-inner text-center">
                        <h2 class="bread-title">Hi, {{username}}</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a> </li>
                            <li><span class="active">My Dashboard</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="myaccount-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a [routerLink]="['/my-listings']">
                        <div class="stat-box" style="background: #5cb85c;">
                            <h2>{{pubCount}}</h2>
                            <p>Published Listings</p>
                            <i class="icon-window">
                                <mat-icon>event_note</mat-icon>
                            </i>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a [routerLink]="['/pending-listings']">
                        <div class="stat-box" style="background: #6c1cff;">
                            <h2>{{penCount}}</h2>
                            <p>Pending Listings</p>
                            <i class="icon-window">
                                <mat-icon>event_note</mat-icon>
                            </i>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a [routerLink]="['/delete-listings']">
                        <div class="stat-box" style="background: #ff431e;">
                            <h2>{{delCount}}</h2>
                            <p>Deleted Listings</p>
                            <i class="icon-window">
                                <mat-icon>delete</mat-icon>
                            </i>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a>
                        <div class="stat-box" style="background: #2fbca7;">
                            <h2>{{favCount}}</h2>
                            <p>Favourite Listings</p>
                            <i class="icon-window">
                                <mat-icon>favorite_border</mat-icon>
                            </i>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a [routerLink]="['/card-lists']">
                        <div class="stat-box" style="background: #0079e0;">
                            <h2>{{cardCount}}</h2>
                            <p>Card Listings</p>
                            <i class="icon-window">
                                <mat-icon>credit_card</mat-icon>
                            </i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<div id="toast">

</div>