@media screen and (max-width: 1024px) {
  .list-content {
    width: 65%;
  }

  .res-menu {
    display: none;
  }

  .res-cls {
    display: none;
  }

  .menu-item {
    display: block;
  }
}
@media screen and (max-width: 840px) {
  .start-content h2 {
    font-size: 52px;
    line-height: 58px;
  }
  .side-bar {
    width: 100%;
  }

  .profile-list {
    width: 100%;
    padding-top: 0px;
  }

  .side-bar {
    padding-right: 0px;
    display: none;
  }

  .modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 767px){
[class*=col-] {
  margin: 0 15px;
}
}

@media screen and (max-width: 768px) {
  .header-container .menu-blk {
    display: block;
    padding: 13px 20px;
  }
  ul.fl-right {
    float: none!important;
  }
  .desktop-menu {
    display: none;
  }
  .action-list {
    margin: 0px 0 auto;
  }

  .profilewrapper {
    margin-bottom: 70px;
  }

  div.sticky {
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    z-index: 20;
    color: #020238;
    padding: 5px;
    background: white;
    width: 100%;
  }

  .sticky a p {
    font-size: 14px;
    color: #020238;
  }

  .sticky a i {
    font-size: 25px;
    cursor: pointer;
    color: #020238;
  }
  .side-bar {
    padding-right: 0px;
    display: none;
  }

  .start-content h2 {
    font-size: 50px;
    line-height: 56px;
  }
  .res-menu {
    display: block;
  }
  .menu-item {
    display: none;
  }
  .enquiry-form {
    width: 100%;
  }
  .dir-desc {
    width: 100%;
  }
  .enquiry-form form {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .widget,
  .detail-fig {
    margin-right: 0px;
  }

  .modal-content {
    width: 65%;
  }
  .action-list-img {
    margin: 21px 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .menu-item-res a {
    background: #24bda8;
    font-weight: 900;
  }
  .side-bar {
    padding-right: 0px;
    display: none;
  }

  .menu {
    float: right;
  }

  .res-menu {
    display: block;
    position: absolute;
    right: 2px;
    top: 12px;
  }

  .res-cls {
    display: none;
  }

  .menu-item {
    display: none;
  }

  .form-row {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }

  .start-content h2 {
    font-size: 48px;
    line-height: 54px;
  }

  .review-block {
    width: 100%;
    padding-left: 0;
  }

  .query-container{
    width: 100%!important;
  }
  .location-container{
    width: 100%!important;
  }
  .search-bar .search-button{
    width: 100%!important;
  }
  [class*=col-sm-]{
    margin: 0;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 590px) {
  .side-bar {
    padding-right: 0px;
    display: none;
  }
  .bredcrum ul li:nth-child(4) {
    display: none;
  }
  .bredcrum ul li:nth-child(5) {
    display: none;
  }

  .bread-title {
    font-size: 34px!important;
  }

}

@media screen and (max-width: 540px) {
  ul.fl-right{
    position: relative;
    /* left: 0; */
    right: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .action-list {
    margin: 0px 0 auto;
  }
  .advertise-cta{
    font-size: 0;
  }
  div.sticky {
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    z-index: 20;
    color: #020238;
    padding: 5px 0;
    background: white;
    width: 100%;
  }
  .sticky a {
    padding: 0px 21px;
  }
  .sticky a p {
    font-size: 14px;
    color: #020238;
  }

  .sticky a i {
    font-size: 25px;
    padding: 0px 9px;
    cursor: pointer;
    color: #020238;
  }
  .side-bar {
    display: none;
  }
  .menu {
    position: relative;
  }
  .res-menu {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .top-toolbar .top-contact-info {
    display: none;
  }
  .list-content {
    width: 100%;
    padding: 20px 0 0 0;
  }
  .list-content h5 {
    text-align: center;
  }
  .figure {
    width: 100%;
  }
  .figure img {
    width: 100%;
  }
  .start-content h2 {
    font-size: 35px;
    line-height: 41px;
  }
  .start-content {
    padding: 10px;
  }
  .start {
    padding: 20px;
  }
  .review {
    width: 100%;
  }
  h1 {
    font-size: 18px;
  }

  .pull-left h1 {
    padding-bottom: 2px;
  }

  .widget {
    margin: 0px;
    margin-bottom: 20px;
  }

  .modal-content {
    width: 90%;
  }

  .main-banner h1 {
    font-size: 44px;
  }

  .logo {
    margin-top: 3px;
  }
}

@media screen and (max-width: 400px) {
  .cat-div {
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .sticky a {
    padding: 0px 13px;
  }
  .sticky a i {
    font-size: 20px;
    padding: 0px 12px;
    cursor: pointer;
    color: #020238;
  }
  .sticky a p {
    font-size: 15px;
    color: #020238;
  }
  .form-container.search-box {
    display: block;
  }

  .select-city-div {
    width: 100%;
  }

  .select-auto-div {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .sticky a {
    padding: 0px 11px;
  }
  .sticky a p {
    font-size: 12px;
    color: #020238;
  }
  .sticky a i {
    font-size: 21px;
    padding: 0px 9px;
    cursor: pointer;
    color: #020238;
  }
  .side-bar {
    padding-right: 0px;
    display: none;
  }
  .main-banner h1 {
    font-size: 33px;
  }

  .start-content h2 {
    font-size: 26px;
    line-height: 31px;
  }
  .modal-content {
    width: 95%;
  }
}
