@import '../node_modules/@angular/material/theming';
@include mat-core();

$my-first-app-primary: mat-palette($mat-teal);
$my-first-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$my-first-app-warn: mat-palette($mat-red);

$my-first-app-theme: mat-light-theme(
  $my-first-app-primary, 
  $my-first-app-accent, 
  $my-first-app-warn
);

@include angular-material-theme($my-first-app-theme);


// $my-second-app-primary: mat-palette($mat-teal);
// $my-second-app-accent:  mat-palette($mat-pink);
// $my-second-app-warn: mat-palette($mat-red);

// $my-second-app-theme: mat-dark-theme(
//   $my-second-app-primary, 
//   $my-second-app-accent, 
//   $my-second-app-warn
// );


// @mixin app-my-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);

//   input {
//     color: mat-color($primary, darker);
//   }
// }

// @include app-my-theme($my-second-app-theme);
// @include angular-material-theme($my-second-app-theme);
