/* You can add global styles to this file, and also import other style files */

@import url('assets/theme.min.css');
@import url('assets/style.scss');
@import url('assets/media.scss');
@import url('assets/onemap-rating.css');

@import '~ngx-bar-rating/themes/br-bootstrap-theme';


// .form-field, .select-auto {
//     color:#2fbda8;
// }


/*common style*/
* {
    box-sizing: border-box;
}
html {
	background-color: #f9f9f9;
}

body {
	color: #333;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
}

.mat-form-field {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
h1 {
	font-size: 32px;
	line-height:36px;
}

h2 {
	font-size: 28px;
	padding-bottom: 22px;
	line-height: 22px;
}

h1{
	padding-bottom: 40px;
}
h1, h2{
	font-weight: 600;
	text-transform: uppercase;
}
h3 {
	font-weight: 400;
	text-transform: capitalize;
}

h4,
h5,
h6 {
	font-weight: 600;
}

h3,
h4,
h5,
h6 {
	padding-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
	line-height: 18px;
}

h6 {
	font-size: 12px;
	line-height: 16px;
}


a:focus {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}


.mat-option{
    font-family: 'Montserrat', sans-serif !important;
    text-transform: capitalize;
}

.mat-option-text {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: capitalize;
}

.section-breadcumb{
    padding: 0;
    margin: 0 0 30px;
    background-color: rgba(24,33,49,0.8);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.section-breadcumb{
    margin-bottom: 50px;
}
.section-breadcumb::before{
    content: '';
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 33, 49, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.section-breadcumb .inner-bread {
    height: 250px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.inner-bread{
	position: relative;
    width: 100%;
}
.section-breadcumb .wrapper-bread {
    padding: 30px 0;
    width: 100%;
}
.bread-title {
    font-size: 46px;
    margin: 0 0 15px;
    line-height: 1.1;
    color: #fff;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 23px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 2px;
}
.section-breadcumb .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    color: #fff;
	text-transform: uppercase;
	display: block;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb>li+li:before {
    content: ">";
    padding: 0 7px;
    color: #626a70;
}
.breadcrumb li::before {
    color: #fff !important;
}
.breadcrumb .active {
    color: #ff431e;
}
.text-center{
	text-align: center;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .business-card {
      border: 1px solid #E2E2E2;
      color: #888;
      height: 100%;
      width: 100%;
  }
  .business-card .logo{
      margin-top: 15px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  .fl-1{
      width: 25px;
      float: left;
  }
  .fl-1 svg{
      position: relative;
      top: -1px;
  }
  .fl-2{
      width: 80%;
      float: left;
      text-align: left;
      font-size: 12px;
      padding-left: 15px;
      color: #FFFFFF;
      text-transform: uppercase;
  }
  .div-logo{
      padding: 10px;
      text-align: center;
      width: 100%;
  }
  .div-logo h2{
      margin-top: 5px;
      font-size: 16px;
      padding-bottom: 15px;
  }
  .business-card-phone, .business-card-email, .business-card-address{
      margin-bottom: 10px;
  }
  
  .business-bottom{
      background: #262626;
      border-top: 5px solid #fc2628;
      height: 100%;
      padding: 20px;
  }
  .job-dashboard-actions {
      position: absolute;
      top: 15px;
      right: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
      background: #565656;
      font-size: 12px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      overflow: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }
  .business-card:hover .job-dashboard-actions {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  .job-dashboard-actions a {
      color: #fff !important;
  }
  .job-dashboard-actions li {
      display: inline-block;
      padding: 5px 10px;
  }
  .job-dashboard-actions a i {
      margin-right: 3px;
  }
  .job-dashboard-actions a i .mat-icon{
      font-size: 22px;
      vertical-align: middle;
      position: relative;
      top: -1px;
      height: auto;
      width: auto;
  }
  .job-dashboard-action-delete{
      cursor: pointer;
    }