<!-- intialize header -->
<mat-progress-bar
  *ngIf="'default' | swIsLoading | async"
  mode="indeterminate"
  color="warn"
  style="position: absolute; top: 0; z-index: 100;"
>
</mat-progress-bar>
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="directory-preview">

  <div class="header-galler-wrapper style-white" [ngStyle]="{'background-image': 'url(' + cover + ')'}">
    <div class="entry-header">
      <div class="container">
        <div class="entry-header-wrapper clearfix">
          <div class="row flex-bottom-sm">
            <div class="col-xs-12 col-lg-8 col-md-7 col-sm-7">
              <div class="entry-header-left">
                <div class="flex-middle-md">
                  <div class="listing-logo">
                    <div class="inner-img">
                      <div class="image-wrapper">
                        <img [src]="photo">
                      </div>
                    </div>
                  </div>
                  <div class="entry-header-content-inner">
                    <div class="top-header-content">
                      <div class="entry-title-wrapper">
                        <h1 class="entry-title">{{title}}</h1>
                        <span class="listing-claimed-icon">
                          <mat-icon>verified_user</mat-icon>
                        </span>
                      </div>
                      <div class="listing-tagline">{{tagline}}</div>
                    </div>
                    <div class="header-metas">
                      <div class="phone-wrapper listing-phone phone-hide">
                        <a class="phone"><i>
                            <mat-icon>dialer_sip</mat-icon>
                          </i> +91 {{phone}}</a>
                        <span class="phone-show"><i>
                            <mat-icon>dialer_sip</mat-icon>
                          </i> +91 {{(phone | slice:0:7)+'...'}}
                          <span (click)="showPhone()">show</span>
                        </span>
                      </div>
                      <div class="listing-location listing-address">
                        <i>
                          <mat-icon>location_on</mat-icon>
                        </i>
                        {{address}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4 col-md-5 col-sm-5">
              <div class="entry-header-right">
                <div class="listing-review">
                  <span class="review-avg">{{average}}</span>
                </div>
                <div class="listing-btn-wrapper listing-bookmark">
                  <a class="ajax-add" [ngClass]="(favCount != 0 ? 'dir-bookmark-added' : 'dir-bookmark-add')" (click)="addFav()">
                    <i class="ti-heart">
                      <mat-icon>favorite_border</mat-icon>
                    </i><span class="bookmark-text">Save</span>
                  </a>
                </div>
                <div class="listing-review-btn"><a class="listing-reviews" (click)="openDialog()"><i class="ti-comment">
                      <mat-icon>chat_bubble_outline</mat-icon>
                    </i><span class="text"> Submit Review</span></a>
                </div>
                <div class="sharing-popup">
                  <a href="#" class="share-popup action-button" title="Social Share">
                    <i class=" ti-share "><mat-icon>share</mat-icon>
                    </i>
                    <span class="text">Share</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="profile-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="rv-column-wrapper">
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi view_headline"></i>
                    <h5>Description</h5>
                  </div>
                </div>
                <div class="pf-body">{{description}}</div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="video_url">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi">
                      <mat-icon>personal_video</mat-icon>
                    </i>
                    <h5>Video</h5>
                  </div>
                </div>
                <div class="pf-body">
                  <div class="video-div">
                    <iframe width="100%" height="275" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                    <!-- <video controls (click)="toggleVideo()" #videoPlayer>
                      <source src="{{video_url}}" type="video/mp4" />
                      Browser not supported
                    </video> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi">
                      <mat-icon>local_activity</mat-icon>
                    </i>
                    <h5>Rate & Write a Review</h5>
                  </div>
                </div>
                <div class="pf-body">
                  <div class="rating-details clearfix">
                    <div class="col-sm-12">
                      <h2 class="bold padding-bottom-7">{{average}} <small>/ 5</small></h2>
                      <button *ngFor="let i of [1,2,3,4,5]; let index = index" type="button"
                        [ngClass]="(index+1) <= averageRating ? 'btn btn-sm btn-warning' : 'btn btn-sm btn-default btn-grey'"
                        aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="col-sm-12 margin-top-20">
                      <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                          <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span>
                          </div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                          <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                              aria-valuemin="0" aria-valuemax="5" [ngStyle]="{'width': fiveStarRatingPercent}">
                              <span class="sr-only">{{fiveStarRatingPercent}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="pull-right" style="margin-left:10px;">{{fiveStarRating}}</div>
                      </div>

                      <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                          <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span>
                          </div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                          <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                              aria-valuemin="0" aria-valuemax="5" [ngStyle]="{'width': fourStarRatingPercent}">
                              <span class="sr-only">{{fourStarRatingPercent}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="pull-right" style="margin-left:10px;">{{fourStarRating}}</div>
                      </div>
                      <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                          <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span>
                          </div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                          <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
                              aria-valuemin="0" aria-valuemax="5" [ngStyle]="{'width': threeStarRatingPercent}">
                              <span class="sr-only">{{threeStarRatingPercent}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="pull-right" style="margin-left:10px;">{{threeStarRating}}</div>
                      </div>
                      <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                          <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span>
                          </div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                          <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2"
                              aria-valuemin="0" aria-valuemax="5" [ngStyle]="{'width': twoStarRatingPercent}">
                              <span class="sr-only">{{twoStarRatingPercent}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="pull-right" style="margin-left:10px;">{{twoStarRating}}</div>
                      </div>
                      <div class="pull-left">
                        <div class="pull-left" style="width:35px; line-height:1;">
                          <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span>
                          </div>
                        </div>
                        <div class="pull-left" style="width:180px;">
                          <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                              aria-valuemin="0" aria-valuemax="5" [ngStyle]="{'width': oneStarRatingPercent}">
                              <span class="sr-only">{{oneStarRatingPercent}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="pull-right" style="margin-left:10px;">{{oneStarRating}}</div>
                      </div>
                    </div>
                    <div class="col-md-12 margin-top-20">
                      <div class="review-block" *ngIf="count">
                        <div class="row" *ngFor="let review of reviewitems">
                          <div class="col-sm-3">
                            <img src="../../assets/images/user1.jpg" class="img-rounded user-pic">
                            <div class="review-block-name">By <a>{{review.firstname}}</a></div>
                            <div class="review-block-date">{{review.created | date:'MM dd, yyyy'}}</div>
                          </div>
                          <div class="col-sm-9">
                            <div class="review-block-rate">
                              <button *ngFor="let i of [1,2,3,4,5]; let index = index" type="button"
                                [ngClass]="(index+1) <= review.rating ? 'btn btn-sm btn-warning' : 'btn btn-sm btn-default btn-grey'"
                                aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="review-block-title">{{review.title}}</div>
                            <div class="review-block-description">{{review.comments}}</div>
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rv-column-wrapper">
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi">
                      <mat-icon>card_giftcard</mat-icon>
                    </i>
                    <h5>Business Card</h5>
                  </div>
                </div>
                <div class="pf-body">
                  <div class="swiper-container" *ngIf="cardcount != 0">
                    <swiper [config]="config">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let card of cards">
                          <div class="business-card">
                            <div class="add-more-card">
                              <ul class="job-dashboard-actions">
                                <li style="border-right: 1px solid white;"><a class="job-dashboard-action-delete" (click)="downloadClick(card.id)">
                                  <i class="fa fa-download icon-close">
                                      <!-- <mat-icon>picture_as_pdf</mat-icon> -->
                                    </i></a></li>
                                    <!-- <li><a class="job-dashboard-action-delete" (click)="shareClick(card.id)"><i
                                      class="icon-close">
                                      <mat-icon>share</mat-icon>
                                    </i></a></li> -->
                              </ul>
                            </div>
                            <div class="business-card-details">
                              <div class="div-logo">
                                <img class="logo"
                                  [src]="card.logoPath ? this.https.image_url + card.logoPath : '../../assets/images/image.png'"
                                  alt="BC">
                                <h2>{{card.name}}</h2>
                              </div>
                              <div class="business-bottom clearfix">
                                <div class="business-card-phone clearfix">
                                  <div class="fl-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      version="1.1" viewBox="0 0 472.811 472.811"
                                      enable-background="new 0 0 472.811 472.811" width="16px" height="16px">
                                      <g>
                                        <path
                                          d="M358.75,0H114.061C97.555,0,84.128,13.428,84.128,29.934v412.944c0,16.505,13.428,29.934,29.934,29.934H358.75   c16.506,0,29.934-13.428,29.934-29.934V29.934C388.683,13.428,375.256,0,358.75,0z M99.128,75.236h274.556v312.687H99.128V75.236z    M114.061,15H358.75c8.234,0,14.934,6.699,14.934,14.934v35.302H99.128V29.934C99.128,21.699,105.827,15,114.061,15z    M358.75,457.811H114.061c-8.234,0-14.934-6.699-14.934-14.934v-44.955h274.556v44.955   C373.683,451.112,366.984,457.811,358.75,457.811z"
                                          fill="#FFFFFF" />
                                        <path
                                          d="m236.406,404.552c-13.545,0-24.564,11.02-24.564,24.565s11.02,24.564 24.564,24.564 24.564-11.02 24.564-24.564-11.019-24.565-24.564-24.565zm0,39.129c-8.031,0-14.564-6.534-14.564-14.564 0-8.031 6.533-14.565 14.564-14.565s14.564,6.534 14.564,14.565c0,8.03-6.533,14.564-14.564,14.564z"
                                          fill="#FFFFFF" />
                                        <path
                                          d="m202.406,47.645h68c2.762,0 5-2.239 5-5s-2.238-5-5-5h-68c-2.762,0-5,2.239-5,5s2.238,5 5,5z"
                                          fill="#FFFFFF" />
                                        <path
                                          d="m184.409,47.645c1.31,0 2.6-0.53 3.53-1.46 0.93-0.94 1.47-2.22 1.47-3.54s-0.54-2.6-1.47-3.54c-0.931-0.93-2.221-1.46-3.53-1.46-1.32,0-2.601,0.53-3.54,1.46-0.93,0.93-1.46,2.22-1.46,3.54s0.53,2.6 1.46,3.54c0.93,0.93 2.22,1.46 3.54,1.46z"
                                          fill="#FFFFFF" />
                                      </g>
                                    </svg>
                                  </div>
                                  <div class="fl-2">
                                    +91 {{card.phone}}
                                  </div>
                                </div>
                                <div class="business-card-email clearfix">
                                  <div class="fl-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      version="1.1" viewBox="0 0 467.211 467.211"
                                      enable-background="new 0 0 467.211 467.211" width="16px" height="16px">
                                      <g>
                                        <path
                                          d="m413.917,96.775h-360.622c-6.369,0-11.551,5.181-11.551,11.55v213.182c0,6.369 5.182,11.55 11.551,11.55h360.622c6.368,0 11.55-5.181 11.55-11.55v-213.181c-5.68434e-14-6.369-5.182-11.551-11.55-11.551zm1.55,224.732c0,0.855-0.695,1.55-1.55,1.55h-360.622c-0.855,0-1.551-0.696-1.551-1.55v-213.181c0-0.855 0.695-1.55 1.551-1.55h360.622c0.854,0 1.55,0.696 1.55,1.55v213.181z"
                                          fill="#FFFFFF" />
                                        <path
                                          d="m459.711,340.558h-11.744v-237.715c0-15.752-12.815-28.568-28.568-28.568h-371.586c-15.753,0-28.568,12.815-28.568,28.568v237.714h-11.745c-4.143,0-7.5,3.358-7.5,7.5v20.605c0,13.384 10.889,24.272 24.272,24.272h418.666c13.384,0 24.272-10.889 24.272-24.272v-20.605c0.001-4.141-3.356-7.499-7.499-7.499zm-425.467-237.715c-2.84217e-14-7.481 6.087-13.568 13.568-13.568h371.586c7.481,0 13.568,6.086 13.568,13.568v237.714h-398.722v-237.714zm177.361,252.715h44v3.922c0,1.755-1.428,3.184-3.184,3.184h-37.633c-1.756,0-3.184-1.428-3.184-3.184v-3.922zm240.607,13.105c0,5.113-4.159,9.272-9.272,9.272h-418.667c-5.113,0-9.272-4.16-9.272-9.272v-13.105h11.744 174.861v3.922c0,7.27 5.914,13.184 13.184,13.184h37.633c7.27,0 13.184-5.914 13.184-13.184v-3.922h174.861 11.744v13.105z"
                                          fill="#FFFFFF" />
                                      </g>
                                    </svg>
                                  </div>
                                  <div class="fl-2">
                                    {{card.email}}
                                  </div>
                                </div>
                                <div class="business-card-address clearfix">
                                  <div class="fl-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                                      style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16px"
                                      height="16px">
                                      <g>
                                        <g>
                                          <path
                                            d="M455.139,498.052l-99.132-99.132c-1.532-1.532-3.61-2.392-5.777-2.392h-18.927c-4.512,0-8.17,3.657-8.17,8.17    s3.658,8.17,8.17,8.17h15.542l82.792,82.791H82.362l82.791-82.791h15.542c4.512,0,8.17-3.657,8.17-8.17s-3.658-8.17-8.17-8.17    H161.77c-2.167,0-4.245,0.861-5.777,2.392l-99.132,99.132c-2.337,2.338-3.036,5.851-1.771,8.904    c1.265,3.053,4.244,5.044,7.548,5.044h386.723c3.304,0,6.283-1.99,7.548-5.044C458.175,503.903,457.475,500.39,455.139,498.052z"
                                            fill="#FFFFFF" />
                                        </g>
                                      </g>
                                      <g>
                                        <g>
                                          <path
                                            d="M256,0C161.393,0,84.426,76.968,84.426,171.574c0,35.596,10.808,69.742,31.263,98.756l133.641,188.964    c1.532,2.165,4.019,3.452,6.671,3.452c2.653,0,5.14-1.288,6.671-3.452L396.32,270.32c20.448-29.004,31.256-63.15,31.256-98.746    C427.574,76.968,350.607,0,256,0z M382.971,260.895L256,440.427L129.037,260.905c-18.495-26.234-28.271-57.125-28.271-89.331    C100.766,85.978,170.403,16.34,256,16.34s155.234,69.637,155.234,155.234C411.234,203.78,401.458,234.671,382.971,260.895z"
                                            fill="#FFFFFF" />
                                        </g>
                                      </g>
                                      <g>
                                        <g>
                                          <path
                                            d="M256,92.596c-43.549,0-78.979,35.429-78.979,78.979c0,14.657,4.073,28.988,11.779,41.442    c2.375,3.836,7.41,5.022,11.247,2.649c3.837-2.375,5.023-7.41,2.649-11.247c-6.107-9.87-9.335-21.225-9.335-32.843    c0-34.539,28.099-62.638,62.638-62.638s62.638,28.099,62.638,62.638S290.539,234.213,256,234.213    c-11.617,0-22.974-3.228-32.843-9.335c-3.839-2.376-8.873-1.187-11.247,2.649s-1.189,8.873,2.649,11.247    c12.454,7.706,26.784,11.779,41.44,11.779c43.549,0,78.979-35.429,78.979-78.979C334.979,128.025,299.549,92.596,256,92.596z"
                                            fill="#FFFFFF" />
                                        </g>
                                      </g>
                                    </svg>
                                  </div>
                                  <div class="fl-2">
                                    {{card.address}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    </swiper>
                  </div>
                  <div class="no-record" *ngIf="cardcount == 0">
                    There are no Business card
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi map"></i>
                    <h5>Location</h5>
                  </div>
                </div>
                <div class="pf-body">
                  <agm-map style="height:350px" [zoom]='19' [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                  <address>
                    <mat-icon>location_on</mat-icon>
                    {{address}}
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi">
                      <mat-icon>account_circle</mat-icon>
                    </i>
                    <h5>Author</h5>
                  </div>
                </div>
                <div class="pf-body">
                  {{firstname}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="element">
                <div class="pf-head">
                  <div class="title-style">
                    <i class="mi">
                      <mat-icon>chat_bubble_outline</mat-icon>
                    </i>
                    <h5>Social Profiles</h5>
                  </div>
                </div>
                <div class="pf-body">
                  <ul class="social-profiles">
                    <li>
                      <a [href]="twitter_url" target="_blank">
                        <svg style="width: 20px;height: 20px;color: white;position: relative;top: 7px;" viewBox="0 0 24 24">
                          <path fill="currentColor"
                            d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a [href]="facebook_url" target="_blank">
                        <svg style="width: 20px;height: 20px;color: white;position: relative;top: 7px;" viewBox="0 0 24 24">
                          <path fill="currentColor"
                            d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a [href]="instagram_url" target="_blank">
                        <svg style="width: 20px;height: 20px;color: white;position: relative;top: 7px;" viewBox="0 0 24 24">
                          <path fill="currentColor"
                            d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
<div id="toast">

</div>