<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 mat-dialog-title>Send Business Card</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Select a User</mat-label>
    <input type="text" required name="memberid" aria-label="Number" [(ngModel)]="sendData.memberid"
      placeholder="Select a User" matInput [formControl]="myControl" [matAutocomplete]="user">
  </mat-form-field>
  <mat-autocomplete #user="matAutocomplete" [displayWith]="displayDr" (optionSelected)="onUsrSelectionChanged($event)">
    <mat-option *ngFor="let usr of filteredOptions | async" [value]="usr" [id]="usr.id">
      {{usr.name}}</mat-option>
  </mat-autocomplete>
  <mat-form-field appearance="outline">
    <mat-label>Subject</mat-label>
    <textarea matInput id="subject" name="subject" [(ngModel)]="sendData.subject"
      matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="sendClick()">Send</button>
  <button mat-raised-button class="mat-raised-button" mat-dialog-close tabindex="-1">Cancel</button>
</div>