.paginations{
    padding: 30px 0;
  }
  
  .paginations ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  agm-map {
    height: 300px;
  }
  
  .paginations a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }
  
  /* ONE */
  
  .p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  
  .p1 a.is-active{
    background-color: #2ecc71;
    border-radius: 100%;
    color: #fff;
  }

  .form-field{
    width:100%;
    margin-top: 5px;
}

form{
    padding: 10px;
}
.submit-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #020238;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.imgs{
  width:'190px' ;
  height:'150px';
  margin-left:"10px";
}

.image-div {
  padding: 5px;
  width: 33.33%;
  max-width: 250px;
  display: inline-block;
}

.image-div:nth-child(1)  {
  padding-left: 0;
}

.sub-header {
  margin:0;
}

::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 17px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 17px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
      }
}

.onemap-grey {
  height: 15px;
}

.img {
  width:100%;
  height:150px;
  margin-right:10px;
  border-radius: 5px;
}

.main-img-div{
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding: 10px;
  padding-left: 0;
}

.list-title.head {
  display: inline-block;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-title.head.active {
  border-bottom: 3px solid #2fbda8;
}

.tab-content {
  padding: 20px 0;
  background: white;

}

@media screen and (max-width:375px){
  .img{
    height:70px;
  }
}

@media screen and (max-width:425px){
  .img{
    height:70px;
  }
}
@media screen and (max-width:320px){
  .img{
    height:57px;
  }
}


.br-default .br-unit:after {
  color: #ffffff;
}


h1.mat-dialog-title {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}