<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div class="loader">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="profilewrapper">
    <div class="container">
        <div class="dir-desc">
            <div class="detail-fig">
                <img *ngIf="(profile.imagename == '') || (profile.imagename == null)" src='./assets/images/banner3.jpg' alt="Profile Image">
                <img *ngIf="((profile.imagename == '') && (profile.imagename == null))" src='{{image_url}}{{profile.imagename}}' alt="Profile Image">
                <div class="detail-content">
                    <div class="pull-left">
                        <h1>{{profile.directorytitle | ampand}}</h1>
                        <bar-rating [(rate)]="profile.rating" [max]="5" [theme]="'bootstrap'" [readOnly]="true">
                        </bar-rating>
                        <p><i class="fa fa-star" aria-hidden="true"></i>{{profile.rating}} Ratings</p>
                        <p><i class="fa fa-map-marker yallow-1"></i>{{profile.directoryaddress}}</p>
                        <p><i class="fa fa-phone-square yallow-2"></i>{{profile.directorycontactnumber}}</p>
                        <p *ngIf="profile.verify_label != '0'"><i class="fa fa-check-square yallow-2"></i>Online
                            Verified</p>
                        <p *ngIf="profile.premium_label != '0'"><i class="fa fa-certificate yallow-2"></i>Premium</p>
                    </div>
                    <div class="pull-right">
                        <button mat-raised-button (click)="setReview('review')">Write Review</button>
                        <!-- <button mat-icon-button>
                            <mat-icon alt="Share this Business" aria-label="Example icon-button with a share icon">share
                            </mat-icon>
                        </button> -->
                        <!-- <button mat-icon-button>
                            <mat-icon alt="Add Favorite this Business"
                                aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                        </button> -->
                    </div>
                </div>
            </div>



            <div class="review modal">
                <div class="modal-content">
                    <i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i>
                    <div class="review-form">
                        <div id="review-register">
                            <form>
                                <mat-form-field class="form-field">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="reviewform.name"
                                        name="name" required>
                                </mat-form-field>
                                <mat-form-field class="form-field">
                                    <input matInput placeholder="Email" type="email" [(ngModel)]="reviewform.email"
                                        name="email" required>
                                </mat-form-field>
                                <mat-form-field class="form-field">
                                    <input matInput placeholder="Phone number" type="text" name="phone"
                                        [(ngModel)]="reviewform.phone" required>
                                </mat-form-field>
                                <button mat-raised-button class="submit-btn" (click)="sendreview()">Submit</button>
                            </form>
                        </div>
                        <div class="review widget" id="your-review-form">
                            <div class="list-title head">
                                <h5>Your Review</h5>
                            </div>
                            <div class="list-disc">
                                <div class="review-rating">
                                    <bar-rating [(rate)]="rate" [max]="5" [theme]="'bootstrap'" [theme]="'bootstrap'">
                                    </bar-rating>
                                </div>
                                <mat-form-field class="form-field">
                                    <textarea matInput placeholder="Review" name="review"
                                        [(ngModel)]="review"></textarea>
                                </mat-form-field>
                                <button mat-raised-button class="submit-btn"
                                    (click)="setReview('submit')">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-img-div">
            <div class="image-div" *ngFor="let image of image_array">
                <img class="img" src='{{image_url}}{{image.imagename}}' (click)="openDialog(image_url,image.imagename)"
                    alt="Profile Image">
            </div>
        </div>
        <div class="tab-content">
            <div class="list-title head {{description_tab}}" (click)="settabactive('description')">
                <h5>DESCRIPTION</h5>
            </div>
            <div class="list-title head {{reviews_tab}}" (click)="settabactive('reviews')">
                <h5>REVIEWS</h5>
            </div>
            <!-- <div class="list-title head {{offer_tab}}" (click)="settabactive('offer')">
                <h5>OFFERS</h5>
            </div> -->

            <div class="widget" *ngIf="description_tab != ''">
                <div class="list-disc listing-contact">
                    <p>{{profile.directorydescription | ampand}}</p>
                </div>
                <div class="list-disc">
                    <div class="listing-contact">
                        <h5>Address:- </h5>
                        <p>{{profile.directoryaddress | ampand}}</p>
                    </div>
                    <div class="listing-contact">
                        <h5>Mobile:- </h5>
                        <p>{{profile.directorycontactnumber}}</p>
                    </div>
                    <div class="listing-contact">
                        <h5>Website:- </h5>
                        <p><a style="word-break: break-word;" href="{{profile.directoryurl}}" target="_blank">{{profile.directoryurl}}</a></p>
                    </div>
                    <div class="listing-contact">
                        <h5>Blogger:- </h5>
                        <p><a style="word-break: break-word;" href="{{profile.directoryurl}}" target="_blank">{{profile.directoryurl}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" *ngIf="reviews_tab != ''">
            <div class="review-block" *ngIf="reviewlength != 0">
                <div class="listing-contact review-list" *ngFor="let review of reviews | slice: lowValue : highValue">
                    <div class="user-div">
                        <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="user-review">
                        <p><strong>{{review.name}}</strong></p>
                        <p>{{review.review}}</p>
                        <div class="user-review-rating">
                            <bar-rating [readOnly]=true [(rate)]="review.rating"></bar-rating>
                        </div>
                    </div>
                </div>
                <div *ngIf="reviewlength > 0">
                    <mat-paginator [length]="reviewlength" [pageSize]="pageSize"
                        (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
                </div>
            </div>
            <div class="review-block">
                <div class="overall-rating">
                    Overall Rating 
                    <bar-rating [(rate)]="profile.rating" [max]="5" [theme]="'bootstrap'" [readOnly]="true"></bar-rating>
                </div>
                <div class="onemap-light-grey" *ngIf="ratings.rate1">
                    <div class="onemap-grey" [style.width.%]="(ratings.allrate == 0) ? '0' : (ratings.rate1/ratings.allrate)*100"></div>
                    <span>1 - {{ratings.rate1}} users</span>
                </div>


                <div class="onemap-light-grey" *ngIf="ratings.rate2">
                    <div class="onemap-grey" [style.width.%]="(ratings.allrate == 0) ? '0' : (ratings.rate2/ratings.allrate)*100"></div>
                    <span>2 - {{ratings.rate2}} users</span>
                </div>


                <div class="onemap-light-grey" *ngIf="ratings.rate3">
                    
                    <div class="onemap-grey" [style.width.%]="(ratings.allrate == 0) ? '0' : (ratings.rate3/ratings.allrate)*100"></div>
                    <span>3 - {{ratings.rate3}}  users</span>
                </div>


                <div class="onemap-light-grey" *ngIf="ratings.rate4">
                    <div class="onemap-grey" [style.width.%]="(ratings.allrate == 0) ? '0' : (ratings.rate4/ratings.allrate)*100"></div>
                    <span>4 - {{ratings.rate4}}  users</span>
                </div>


                <div class="onemap-light-grey" *ngIf="ratings.rate5">
                    <div class="onemap-grey" [style.width.%]="(ratings.allrate == 0) ? '0' : (ratings.rate5/ratings.allrate)*100"></div>
                    <span>5 - {{ratings.rate5}}  users</span>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- intialize footer -->