.search-section {
  height: 100%;
  padding-top: 0;
  padding-bottom: 40px;
}
ul.directory-listing {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
  display: inline-block;
}
ul .listing-card {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  float: left;
}
.listing-card {
  opacity: 1;
  transition: opacity 0.35s ease-in-out 0.15s;
}
.directory-listing .listing-card {
  width: 33.33333333333333%;
}
.content-box {
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  border: 0;
  line-height: 2;
  margin-bottom: 3em;
}
.content-box::before {
  content: "";
  display: table;
}
.header-card {
  position: relative;
  color: white;
  height: 220px;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-card::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
}
.footer-card {
  min-height: 55px;
  padding: 1em 2em;
  position: relative;
}
.listing-star {
  color: #ffb400;
}
.logo-card {
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  overflow: hidden;
  position: relative;
}
.logo-card {
  position: absolute;
  right: 20px;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 19;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(white, #000);
  border-color: #ffffff;
  background-color: #ffffff;
}
.logo-card img {
  display: block;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate3d(-55%, -55%, 0);
  width: 110% !important;
  height: 110% !important;
}
.job-title {
  margin: 2em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.cover-wrapper {
  position: absolute;
  left: 2em;
  right: 2em;
  bottom: 2em;
  z-index: 10;
}
.title-meta .title {
  font-size: 18px;
  margin: 0 0 0.5em;
  text-transform: capitalize;
}
.title-meta .location {
  line-height: 1.5;
  max-width: 100%;
  display: block;
}
.title-meta .location a {
  vertical-align: middle;
}
.title-meta .location {
  font-size: 12px !important;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover-wrapper:before {
  content: "";
  display: table;
}
.title-meta .phone .mat-icon {
  font-size: 20px;
  position: relative;
  top: 5px;
}
.no-result {
  width: 100%;
}
.google_map_link:hover {
  color: white;
}
.no-listing-match-error {
  text-align: center;
  padding: 150px 0;
}
.no-listing-match-error strong {
  font-size: 28px;
  margin-bottom: 20px;
  display: block;
  color: #333;
}
.no-listing-match-error span {
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  display: block;
  color: #7f7f7f;
}
.no-listing-match-error em {
  margin-bottom: 5px;
  font-style: normal;
  display: block;
  line-height: normal;
  color: #7f7f7f;
}
.no-listing-match-error a {
  color: #337ab7;
}
.search-filter .mat-form-field {
  width: 100%;
}
.search-filter-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
.search-filter-wrapper ::ng-deep .mat-raised-button {
  padding: 5px 25px;
}
::ng-deep .mat-paginator-page-size {
  display: none !important;
}
::ng-deep .mat-paginator-range-label {
  width: 150px;
}
.search-filter label {
  margin-bottom: 0;
}
::ng-deep .mat-slider-horizontal {
  width: 100%;
}
::ng-deep .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb-label {
    background-color: #fff;
    border: 2px solid #2854a1;
}
@media screen and (max-width: 767px)
{
  ul.directory-listing{
    display: block;
    margin: 0;
    padding: 0;
  }
  ul.directory-listing li{
    width: 100%!important;
    float: none;
    padding: 0;
  }
  .job-title{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  [class*=col-sm-] {
    margin: 0;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
}

@media screen and (min-width: 640px) and (max-width: 768px){
  ul.directory-listing li{
    width: 50%!important;
    float: left;
    padding: 0 10px;
  }
  .pagination-wrapper{
    display: inline-block;
    position: relative;
  }
}