<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
  <div id="preloader-status"></div>
</div>
<div class="search-section">
  <section class="section-breadcumb" style="background-image: url(../../assets/images/banner.jpg);">
    <div class="inner-bread">
      <div class="wrapper-bread">
        <div class="container">
          <div class="breadscrumb-inner text-center">
            <h2 class="bread-title">Search Listing</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a> </li>
              <li><span class="active">Listing</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="search-filter">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" aria-label="Number" id="title" name="title" [(ngModel)]="filterData.title" [formControl]="myControl" [matAutocomplete]="directory"/>
          </mat-form-field>
          <mat-autocomplete #directory="matAutocomplete" [displayWith]="displayDr"
              (optionSelected)="onDirSelectionChanged($event)">
              <mat-option *ngFor="let dir of filteredOptions | async" [value]="dir" [id]="dir.id">
                  {{dir.name}}</mat-option>
          </mat-autocomplete>
        </div>
        <!-- <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select placeholder="Category" name="category" (selectionChange)="loadSubcategory($event.value)"
              [(ngModel)]="filterData.categoryid">
              <mat-option>-select-</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.categoryid">{{category.category}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Sub Category</mat-label>
            <mat-select placeholder="Sub Category" name="subcategory"
              [(ngModel)]="filterData.subcategoryid">
              <mat-option>-select-</mat-option>
              <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryid">{{subcategory.subcategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput name="location" type="text" matGoogleMapsAutocomplete [country]="de"
              [(ngModel)]="filterData.location" (onAutocompleteSelected)="onAutocompleteSelected($event)"
              (onLocationSelected)="onLocationSelected($event)">
            <mat-icon matSuffix>gps_fixed</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <label>Radius: {{kmvalue}} KM</label>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="100" [value]="kmvalue" min="0" max="100"
            (change)="onSliderChange($event)">
          </mat-slider>
        </div>
        <div class="col-sm-4">
          <button mat-raised-button color="primary" (click)="searchfilter()">
            <mat-icon>search</mat-icon> Filter
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="job-title">
          <h3>
            <span>{{count}} Results Found</span>
          </h3>
        </div>
        <ul class="directory-listing">
          <li class="listing-card" *ngFor="let profile of searchresult | filter:filter | slice: lowValue : highValue">
            <div class="content-box">
              <a [routerLink]="['/directory',hyphenateUrlParams(profile.title),profile.id]">
                <div class="header-card"
                  [ngStyle]="{'background-image': 'url(' + (profile.cover ? this.https.image_url+profile.cover : '../assets/images/cover.jpg') + ')'}">
                  <div class="cover-wrapper">
                    <div class="title-meta">
                      <h3 class="title">{{profile.title}}</h3>
                      <div class="location">
                        <a class="google_map_link" target="_blank" [href]="google_map_link">
                          {{profile.address}}<br>{{profile.town}} {{profile.state}}</a>
                      </div>
                      <div class="phone">
                        <mat-icon>phone</mat-icon> {{profile.phone}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-card">
                  <div class="listing-stars">
                    <span class="listing-star listing-star--full">
                      <mat-icon>star</mat-icon>
                    </span>
                    <span class="listing-star listing-star--full">
                      <mat-icon>star</mat-icon>
                    </span>
                    <span class="listing-star listing-star--full">
                      <mat-icon>star</mat-icon>
                    </span>
                    <span class="listing-star listing-star--full">
                      <mat-icon>star</mat-icon>
                    </span>
                    <span class="listing-star listing-star--full">
                      <mat-icon>star</mat-icon>
                    </span>
                  </div>
                  <div class="logo-card">
                    <img src="{{(profile.cover ? this.https.image_url+profile.logo : '../assets/images/profile.jpg')}}">
                  </div>
                </div>
              </a>
            </div>
          </li>
          <li class="no-result" *ngIf="count == 0">
            <div class="no-listing-match-error">
              <strong>No Results</strong>
              <span>Sorry&nbsp; There are no listings matching your search. </span>
              <span>Try Changing your search filters</span>
              <em>or</em>
              <a href="">Reset Filter</a>
            </div>
          </li>
        </ul>
        <div class="pagination-wrapper" *ngIf="count != 0">
          <mat-paginator style-paginator showFirstLastButtons [length]="count"
            [pageSize]="pageSize" (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div id="toast">

</div>