#content {
    padding-top: 40px;
    padding-bottom: 70px;
    min-height: 467px;
    background: #efefef;
}
.form-wrapper.register {
    position: relative;
    width: 400px;
    min-height: 540px;
    padding-bottom: 20px;
}
.form-wrapper, .inner {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.mat-form-field{
    width: 100%;
}
section.center {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}
.form-wrapper.register .divider {
    float: left;
    width: 46%;
}
.form-wrapper.register .divider.ml {
    margin-left: 4%;
}
.form-wrapper.register .divider.mr {
    margin-right: 4%;
}
.divider .mat-form-field{
    display: block;
}
.form-field{
    width:100%;
}
.register-btn{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background:#24bda8;
    color:  #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
::ng-deep{
    .mat-input-underline {
        background-color: white;
    }
    input.mat-input-element {
        font-size: 14px;
    }
    .mat-form-field-appearance-legacy{
        font-size: 14px;
    }
    .custom-snackbar {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    // .mat-form-field-appearance-legacy .mat-form-field-label {
    //     color: #cac9c5;
    // }
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //     background-color: rgb(196, 195, 190);
    // }
}
.exist-link{
    color: #333;
    font-size: 14px;
    line-height: 1.25em;
    margin: 0;
}
.showhidepsw {
    position: absolute;
    right: 10px;
    top: 6px;
}
.bottom-login{
    margin-top: 5px;
}
.register-text{
    text-align: center;
    background: #fff;
    border: none !important;
    margin: 0 !important;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 15px;
    display: block;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-decoration: underline;
    color: #24bda8;
    cursor: pointer;
}
@media screen and (max-width: 400px)
{
    .form-wrapper.register{
        width: auto;
    }
}