<!-- intialize header -->
<app-header [login]="userid"></app-header>
<div id="preloader">
    <div id="preloader-status"></div>
    </div>
    <div id="content">
        <div class="form-wrapper register">
          <section class="center">
            <form #registerform = "ngForm">
              <h1 style="text-transform:capitalize;">Sign Up</h1>
              <div class="clearfix">
              <div class="divider mr">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" placeholder="First Name" [(ngModel)]="register.firstname" name="firstname" required="" id="firstname"/>
                </mat-form-field>
              </div>
              <div class="divider ml">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" placeholder="Last Name" [(ngModel)]="register.lastname" name="lastname" required="" id="lastname" />
                </mat-form-field>
            </div>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" name="email" required="" id="email" [(ngModel)]="register.email" />
            </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'text' : 'password'" placeholder="Password" name="password" required="" id="password" [(ngModel)]="register.password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
              </mat-form-field>
   
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" maxlength="10" minlength="10" placeholder="Phone" id="phone" name="phone"
                    [(ngModel)]="register.phone"/>
              </mat-form-field>
              <div>
                <button mat-raised-button class="register-btn" (click)="submit()" id="register-btn">Register</button>
              </div>
              <div class="bottom-login text-center">
                Already have an account?
              </div>
              <a class="register-text" [routerLink]="['/login']">Login</a>
          </form>
          </section>
        </div>
      </div>
    
          <app-footer></app-footer>
      <div id="toast">
    
      </div>