<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Full Name" [(ngModel)]="register.firstname" name="firstname" required="" id="firstname"/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Enter your email" [(ngModel)]="register.email" name="email" required="" id="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'text' : 'password'" placeholder="Password" name="password" required="" id="password" [(ngModel)]="register.password" />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
  </mat-form-field>
  <p class="login-error">{{errorMsg}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="submitClick()">Register</button>
  <button mat-raised-button class="mat-raised-button" mat-dialog-close tabindex="-1">Cancel</button>
  <em>or</em>
  <button mat-button (click)="loginClick()">Login here</button>
</div>
